<%- include('../partials/header',{title:"unplug"}) %>
		<link rel=StyleSheet href="<%= assets %>/window/window.css?v=4" type="text/css" media=screen>
		<link rel=StyleSheet href="<%= assets %>/inception/browser.css?v=6" type="text/css" media=screen />
		<style>
			.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}

			#win-browser {
				width: 100vw;
				height: 100vh;
			}

			.win-close {
				-webkit-app-region: no-drag;
			}

			#win-dragbar {
				-webkit-app-region: drag;
				-webkit-user-select: none;
				cursor: url("<%= assets %>/cursors/default.png") 0 0, default !important;
			}
		</style>
	</head>
	<body>
		<div id="win-browser" class="win-pos">
			<div class="win-frame">
				<div id="win-header">unplug</div>
				<div id="win-dragbar"></div>
				<a class="win-close" href="javascript:void(0)" onclick="closee()"></a>
			</div>
			<div class="win-inner">
				<div id="win-rainbow"></div>
				<div id="win-topbar">
					<div class="win-button" id="win-back" onclick="backk()"></div>
					<div class="win-button win-off" id="win-front" onclick="frontt()"></div>
					<input class="win-insetborder" id="win-adress" spellcheck="false"></input>
					<div class="win-button" id="win-go" onclick="changeurl()"></div>
				</div>
				<iframe class="win-insetborder" id="win-iframe" src="/bulb" onLoad="updateurl(this.contentWindow.location);"></iframe>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/inception/browser.js?v=3"></script>
		<script>
			historyy = [""];

			function closee()
			{
				let remota = require('electron').remote;
				let browserwin = remota.getCurrentWindow();
				let byewin = remota.getGlobal("byeWindow");
				byewin.setBounds(remota.screen.getDisplayNearestPoint(browserwin.getBounds()).workArea);
				byewin.setFullScreen(true);
				byewin.loadURL("<%= global.protocol + global.domain %>/bye?6660");
				byewin.show();
				browserwin.close();
			}
		</script>
<%- include('../partials/footer') %>