<%- include('../partials/header',{title:"all tomorrows parties"}) %>
		<style>
			#mainimg {
				display: block;
				width: 663px;
				height: 556px;
				margin: calc(50vh - 278px) calc(50vw - 331px);
				background-image: url("<%= assets %>/alltomorrowsparties.jpg");
				background-size: cover;
				background-position: top right;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/05-04.png" height="76px"/>
			<img class="symbl" src="<%= assets %>/product/00-00.png" width="90px" style="margin-left: 10px;"/>
		</div>
		<a href="/delete" id="mainimg" title="fun"></a>
<%- include('../partials/footer') %>
