<%- include('../partials/header',{title:"bits"}) %>
		<link rel=StyleSheet href="<%= assets %>/window/window.css" type="text/css" media=screen>
		<style>
			body {
				background-image: url("<%= assets %>/bits/bg.png");
			}
			.win-pos {
				width: 126px;
				height: 145px;
			}
			.win-obj-bg {
				width: 120px;
				height: 120px;
				position: absolute;
			}
			.win-obj-inner {
				display: block;
				width: 100px;
				height: 100px;
				margin: 10px;
				position: absolute;
			}
			.win-wrap:first-child {
				display: none;
			}
		</style>
		<link rel="prefetch" href="<%= assets %>/window/closed.png" />
	</head>
	<body id="body">
		<div class="win-wrap">
			<div class="win-pos">
				<div class="win-frame">
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner">
					<div class="win-obj-bg"></div>
					<div class="win-obj-inner"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/window/movable.js"></script>
		<script type="text/javascript">
			var anim = 0;
			var wins = 1;
			var windowsss = document.getElementsByClassName("win-wrap")[0];

			var cloneshit = setInterval(function()
			{
				if(wins++ >= 20) clearInterval(cloneshit);
				var clone = windowsss.cloneNode(true);
				var child = clone.getElementsByClassName("win-pos")[0];
				document.body.appendChild(clone);
				dothing(child);
				dragElement(clone, child, true);
			}, 50);

			function closee(obj)
			{
				dothing(obj);
				obj.style.WebkitMaskImage = "url(\"<%= assets %>/bits/transition.gif?" + anim++ + "\")";
			}

			function dothing(obj)
			{
				obj.style.top = "calc(" + Math.random()*100 + "vh - 72px)";
				obj.style.left = "calc(" + Math.random()*100 + "vw - 63px)";

				var bg = obj.querySelectorAll(".win-obj-bg")[0];
				var ob = obj.querySelectorAll(".win-obj-inner")[0];

				var bgn = Math.floor(Math.random()*10);
				var obn = Math.floor(Math.random()*10);
				var color = Math.floor(Math.random()*3);

				if(bgn === 0)
				{
					bg.style.backgroundColor = "hsl(" + Math.floor(Math.random()*360) + "," + Math.floor(Math.random()*50 + 10) + "%," + Math.floor(Math.random()*20 + 10) + "%)";
					bg.style.backgroundImage = "none";
					bg.style.filter = "none";
				}
				else
				{
					bg.style.backgroundImage = "url(\"<%= assets %>/objects/b" + bgn + ".png\")";
					bg.style.filter = "saturate(" + ((Math.random()*50 + 50)*Math.min(color,1)) + "%) hue-rotate(" + Math.random() + "turn)";
				}
				ob.style.backgroundImage = "url(\"<%= assets %>/objects/a" + obn + ".gif\")";
				ob.style.filter = "saturate(" + ((Math.random()*50 + 50)*Math.min(2 - color,1)) + "%) hue-rotate(" + Math.random() + "turn)";
			}
		</script>
<%- include('../partials/footer') %>