<%- include('../partials/header',{title:"books",color:"#aa0000"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/window/light-stars.png");
			}
			.mainimage {
				margin-top: calc(40vh - 100px);
				margin-left: calc(50vw - 250px);
				display: block;
				width: 450px;
				height: 200px;
				background-image: url("<%= assets %>/books.png");
				border: 4px #aa0000 solid;
			}

			.mainimagelink {
				display: block;
				width: 349px;
				height: 27px;
				margin-top: 166px;
				position: absolute;
				margin-left: 94px;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/08-07.png" width="40px"/>
			<img class="symbl" src="<%= assets %>/product/08-06.png" width="51px"/>
			<img class="symbl" src="<%= assets %>/product/06-00.png" width="30px"/>
		</div>
		<div class="mainimage">
			<a class="mainimagelink" href="/joke" title="joke"></a>
		</div>
<%- include('../partials/footer') %>