<%- include('../partials/header',{title:"books",color:"#aa0000"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/window/light-stars.png");
				display: flex;
			}
			#mainimage {
				position: relative;
				margin: auto;
				width: 450px;
				height: 200px;
				background: url("<%= assets %>/books/text.png") no-repeat 5px 8px, black;
				border: 4px #aa0000 solid;
			}

			.option {
				position: absolute;
				display: block;
				height: 27px;
				bottom: 7px;
			}

			#option1 {
				background: url("<%= assets %>/books/option1.png");
				width: 159px;
				right: 197px;
			}
			#option2 {
				background: url("<%= assets %>/books/option2.png");
				width: 181px;
				right: 7px;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/08-07.png" width="40px"/>
			<img class="symbl" src="<%= assets %>/product/08-06.png" width="51px"/>
			<img class="symbl" src="<%= assets %>/product/06-00.png" width="30px"/>
		</div>
		<div id="mainimage">
			<a class="option" id="option1" href="/personal" title="personal"></a>
			<a class="option" id="option2" href="/rooms" title="rooms"></a>
		</div>
<%- include('../partials/footer') %>