<%- include('../partials/header',{title:"bulb"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/bulb/bg.png");
				background-size: cover;
				background-position: center;
				image-rendering: pixelated;
				display: flex;
			}

			.mainimage {
				margin: auto;
				max-width:400px;
				text-align: center;
			}

			.num {
				display: block;
				margin: 0 auto;
			}

			.hov {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.hov:hover {
				opacity: 1;
			}

			.one {
				width: 33px;
				height: 66px;
				background-image: url("<%= assets %>/bulb/1r.png");
			}

			.oneh {
				background-image: url("<%= assets %>/bulb/1g.png");
			}

			.two {
				width: 44px;
				height: 66px;
				background-image: url("<%= assets %>/bulb/2r.png");
			}

			.twoh {
				background-image: url("<%= assets %>/bulb/2g.png");
			}

			.three {
				width: 42px;
				height: 67px;
				background-image: url("<%= assets %>/bulb/3r.png");
			}

			.threeh {
				background-image: url("<%= assets %>/bulb/3g.png");
			}

			.button{
				width:13px;
				height:13px;
				background-image:url("<%= assets %>/bulb/crcl.png");
				display: block;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/03-04.png" height="48px"/>
		</div>
		<div class="mainimage">
			....i need to replace the bulb
			<br/>
			<br/>
			<div class="two num" title="who"><a class="twoh hov" href="/who"></a></div>
			moving
			<br/>
			<br/>
			<div class="three num" title="frogs"><a class="threeh hov" href="/frogs"></a></div>
			all over again
			<br/>
			<br/>
			<div class="one num" title="music"><a class="oneh hov" href="/music"></a></div>
			thats me
			<br/>
			<br/>
			<br/>
			<br/>
			<a href="/reality" title="reality">
				<div class="button"></div>
				you know youre my favorite flower on the wall
			</a>
		</div>
<%- include('../partials/footer') %>