<%- include('../partials/header',{title:"cherry"}) %>
		<style>
			body{
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/03-00.png" height="48px"/>
			<img class="symbl" src="<%= assets %>/product/03-05.png" height="48px"/>
			<img class="symbl" src="<%= assets %>/product/03-06.png" height="48px"/>
			<img class="symbl" src="<%= assets %>/product/08-01.png" height="35px"/>
		</div>
		<img src="<%= assets %>/cherry.png"/>
<%- include('../partials/footer') %>