<%- include('../partials/header',{title:"cookies"}) %>
		<style>
			body {
			}
			#nocookies{
				display: block;
				margin-bottom: 15vh;
				background-image: url("<%= assets %>/cookies/text.png");
				width: 792px;
				height: 246px;
			}
			#accept{
				display: block;
				background-image: url("<%= assets %>/cookies/button.png");
				width: 182px;
				height: 56px;
				margin: 170px 508px;
			}
			body{
				background-image: url("<%= assets %>/cookies/bg.png");
				display: flex;
				align-items: center;
				justify-content: center;
			}
			#cookieclick{
				display: block;
				width: 208px;
				height: 161px;
				position: fixed;
				bottom: 0;
				left: calc(50vw - 104px);
				background-image: url("<%= assets %>/cookies/monster.png");
			}
		</style>
		<link rel="prefetch" href="<%= assets %>/cookies/button_on.png" />
	</head>
	<body>
		<div id="nocookies">
			<a id="accept" href="javascript:void(0)" onclick="riseitup()"></a>
		</div>
		<a id="cookieclick" href="/nqiregvfrzrag" title="nqiregvfrzrag"></a>
		<script>
			function riseitup(){
				let text = document.getElementById("nocookies");
				text.style.transition = "margin-bottom 6s linear";
				text.style.marginBottom = "calc(100vh + 246px)";

				let accept = document.getElementById("accept");
				accept.style.backgroundImage = "url('<%= assets %>/cookies/button_on.png')";
				accept.style.pointerEvents = "none";
			}
		</script>
<%- include('../partials/footer') %>
