<%- include('../partials/header',{title:"cookies"}) %>
		<style>
			#nocookies{
				display: block;
				margin-bottom: 15vh;
				background-image: url("<%= assets %>/cookies/text.png");
				width: 792px;
				height: 246px;
				position: relative;
			}
			#accept{
				display: block;
				background-image: url("<%= assets %>/cookies/button.png");
				width: 182px;
				height: 56px;
				margin: 170px 508px;
			}
			body{
				background-image: url("<%= assets %>/cookies/bg.png");
				display: flex;
				align-items: center;
				justify-content: center;
			}
			#cookieclick{
				display: block;
				width: 208px;
				height: 161px;
				position: fixed;
				bottom: 0;
				left: calc(50vw - 104px);
				background-image: url("<%= assets %>/cookies/monster.png");
			}
		</style>
		<link rel="prefetch" href="<%= assets %>/cookies/button_on.png" />
	</head>
	<body>
		<div id="nocookies">
			<a id="accept" href="javascript:void(0)" onclick="riseitup()"></a>
		</div>
		<a id="cookieclick" href="/nqiregvfrzrag" title="nqiregvfrzrag"></a>
		<script type="text/javascript" src="<%= assets %>/audio.js"></script>
		<script>
			initaudio(<%= global.audio %>);
			playroomtone("<%= assets %>/window/computer1.ogg");

			let text = document.getElementById("nocookies");
			function riseitup(){
				let accept = document.getElementById("accept");
				accept.style.backgroundImage = "url('<%= assets %>/cookies/button_on.png')";
				accept.style.pointerEvents = "none";

				playaudio("<%= assets %>/cookies/hit.ogg",.8,false);

				text.style.transition = "margin-bottom 16s linear";
				text.style.marginBottom = "calc(100vh + 246px)";
				setTimeout(function(){
					text.style.display = "none";
				},16000);

				window.requestAnimationFrame(update);
			}

			var shake = 25;
			var dt = null;
			function update(timestamp){
				if(!dt) dt = timestamp;
				let dtt = timestamp - dt;
				dt = timestamp;

				text.style.top = Math.round((Math.random() - .5)*shake)+"px";
				text.style.left = Math.round((Math.random() - .5)*shake)+"px";

				shake = Math.max(Math.abs(shake*Math.max(1 - dtt*.0035,-.99)),1.5);

				window.requestAnimationFrame(update);
			}
		</script>
<%- include('../partials/footer') %>
