<%- include('../partials/header',{title:"disconnected"}) %>
		<style>
			.mainimage {
				margin-top: calc(50vh - 118px);
				margin-left: calc(50vw - 164px);
				display: block;
				width: 328px;
				height: 237px;
				background-image: url("<%= assets %>/disconnected.png");
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/01-08.png" height="74px"/>
			<img class="symbl" src="<%= assets %>/product/08-04.png" height="38px"/>
		</div>
		<a class="mainimage" href="/fungi"></a>
<%- include('../partials/footer') %>