<%- include('../partials/header',{title:"fuck"}) %>
		<style>
			.mainimage {
				margin-top: calc(50vh - 232px);
				margin-left: calc(50vw - 200px);
				display: block;
				width: 400px;
				height: 487px;
				background-image: url("<%= assets %>/fuck.gif");
			}

			#linktonextpage {
				top: 196px;
				left: 196px;
				width: 116px;
				height: 74px;
				display: block;
				position: relative;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/02-01.png" height="67px"/>
			<img class="symbl" src="<%= assets %>/product/00-04.png" width="133px"/>
		</div>
		<div class="mainimage"><a title="ppl" id="linktonextpage" href="/ppl"></a></div>
<%- include('../partials/footer') %>