<%- include('../partials/header',{title:"gradient",color:"#36393E"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/gradient/bg.png"), -webkit-linear-gradient(left, #36393E 49%, black 50%);
				background-image: url("<%= assets %>/gradient/bg.png"), -o-linear-gradient(left, #36393E 49%, black 50%);
				background-image: url("<%= assets %>/gradient/bg.png"), linear-gradient(to right, #36393E 49%, black 50%);
				background-position: center center;
				background-repeat: repeat-y;
			}

			.mainimage {
				margin: auto;
				max-width: 100%;
			}

			.mainimagelink {
				width: 100%;
				height: 100%;
				display: flex;
			}

			@media (max-width: 1000px) {
				body {
					background-size: contain;
				}
			}
		</style>
	</head>
	<body>
			<a class="mainimagelink" href="/symbolism" title="oops">
				<img class="mainimage" src="<%= assets %>/gradient/gradient.png">
			</a>
<%- include('../partials/footer') %>