<%- include('../partials/header',{title:"important"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/important.png");
				background-repeat: no-repeat;
				background-position: bottom right;
				display: flex;
			}

			#corner {
				display: block;
				position: fixed;
				width: 250px;
				height: 250px;
				bottom: 0;
				right: 0;
			}

			#txt {
				margin: auto auto;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/08-10.png" height="52px"/>
			<img class="symbl" src="<%= assets %>/product/08-05.png" height="48px"/>
		</div>
		<a href="/important.txt" id="txt" download="important.txt">important.txt</a>
		<a href="/hyperaction" id="corner" title="hyperaction"></a>
<%- include('../partials/footer') %>