<%- include('../partials/header',{title:"this is dumb",color:"#3B6EA5"}) %>
		<link rel=StyleSheet href="<%= assets %>/window/window.css?v=2" type="text/css" media=screen>
		<style>
			.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}

			body {
				background: #3B6EA5;
			}

			#taskbar {
				background:
url("<%= assets %>/inception/taskbaright.png") calc(100% - 2px) 3px no-repeat,
url("<%= assets %>/inception/taskbarmiddle.png") left top repeat-x, #D4D0C8;
				bottom: -200px;
				height: 228px;
				width: 100%;
				position: fixed;
			}

			#win-browser {
				width: calc(60vw + 30vmin);
				height: calc(50vh + 30vmin);
				top: calc(20vh - 15vmin);
				left: calc(25vw - 20vmin);
				position: relative;
			}

			.dicon {
				display: block;
				width: 34px;
				height: 34px;
				margin: 24px 0 0 24px;
			}

			#trash {
				background-image: url("<%= assets %>/trash/trashfull.png");
			}

			#computer {
				background-image: url("<%= assets %>/computers/off.png");
			}

			#start {
				background-image: url("<%= assets %>/inception/startoff.png");
				position: relative;
				display: block;
				top: 3px;
				left: 1px;
				width: 57px;
				height: 24px;
			}

			.on#start {
				background-image: url("<%= assets %>/inception/starton.png");
				pointer-events: none;
			}

			canvas {
				width: 100vw;
				height: 100vh;
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
			}
		</style>
		<link rel=StyleSheet href="<%= assets %>/inception/browser.css?v=4" type="text/css" media=screen />
		<link rel="prefetch" href="<%= assets %>/window/closed.png" />
	</head>
	<body>
		<a class="dicon" href="/trash" id="trash" title="trash"></a>
		<a class="dicon" href="/computers" id="computer" title="computer"></a>

		<div id="taskbar"><a href="javascript:void(0)" id="start" onclick="psychadelic()"></a></div>

		<div class="win-wrap">
			<div id="win-browser" class="win-pos">
				<div class="win-frame">
					<div id="win-header">unplug</div>
					<div id="win-dragbar"></div>
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner">
					<div id="win-rainbow"></div>
					<div id="win-topbar">
						<button class="win-button win-off" id="win-back" onclick="backk()">
							<div class="win-icon"></div>
						</button>
						<button class="win-button win-off" id="win-front" onclick="frontt()">
							<div class="win-icon"></div>
						</button>
						<div class="win-insetborder1" id="win-adress">
							<input class="win-insetborder2" id="win-adress-inner" spellcheck="false"></input>
						</div>
						<button class="win-button" id="win-go" onclick="changeurl()">
							<div class="win-icon"></div>
						</button>
					</div>
					<div class="win-insetborder1" id="win-innerbrowser">
						<iframe class="win-insetborder2" id="win-iframe" src="/unplug" onLoad="updateurl(this.contentWindow.location);"></iframe>
					</div>
				</div>
			</div>
		</div>

		<canvas id="canva" style="display: none"></canvas>
		<script type="text/javascript" src="<%= assets %>/inception/browser.js?v=2"></script>
		<script type="text/javascript" src="<%= assets %>/window/movable.js"></script>
		<script>
			dragElement(document.getElementById("win-browser").parentNode, document.getElementById("win-dragbar"));
			function closee()
			{
				document.getElementById("win-browser").parentNode.style.display = "none";
			}

			var canvas = document.getElementById("canva");
			var ctx = canvas.getContext("2d");
			canvas.width  = window.innerWidth;
			canvas.height = window.innerHeight;

			function line()
			{
				this.switchup = Math.random()*40 + 20;
				this.color = getRandomColor();
				let dir = Math.random()*Math.PI*2;
				dir = Math.floor(Math.random()*4);
				if(dir % 2 === 0)
				{
					this.dirx = (dir - 1)*size;
					this.diry = 0;
					this.x = canvas.width*(2 - dir)*.5 - this.dirx;
					this.y = Math.floor(Math.random()*canvas.height);
				}
				else
				{
					this.dirx = 0;
					this.diry = (dir - 2)*size;
					this.x = Math.floor(Math.random()*canvas.width);
					this.y = canvas.height*(3 - dir)*.5 - this.diry;
				}
			}

			var size = 10;
			var lines = [];
			for (var i = 10 - 1; i >= 0; i--) {
				lines.push(new line());
			}

			function timer()
			{
				if(canvas.width !== window.innerWidth || canvas.height !== window.innerHeight)
				{
					canvas.width  = window.innerWidth;
					canvas.height = window.innerHeight;
					for (var i = lines.length - 1; i >= 0; i--)
						if(lines[i].x > canvas.width || lines[i].y > canvas.height)
							lines[i] = new line();
				}

				for (var i = lines.length - 1; i >= 0; i--) {
					ctx.fillStyle = lines[i].color;
					ctx.fillRect(lines[i].x,lines[i].y,size,size);

					let attempt = 0;
					while (lines[i].x + lines[i].dirx > canvas.width || lines[i].x + lines[i].dirx + size < 0 || lines[i].y + lines[i].diry > canvas.height || lines[i].y + lines[i].diry + size < 0)
					{
						lines[i] = new line();
						if(++attempt > 100) break;
					}

					lines[i].x += lines[i].dirx;
					lines[i].y += lines[i].diry;
					lines[i].switchup -= 5;
					if(lines[i].switchup <= 0)
					{
						let mult = 1;
						if(Math.random() >= .5) mult *= -1;
						let h = lines[i].dirx;
						lines[i].dirx = lines[i].diry*mult;
						lines[i].diry = h*mult;
						lines[i].switchup = Math.random()*40 + 20;
					}
				}
			}

			function getRandomColor()
			{
				let str = "#";
				for (var i = 2; i >= 0; i--)
				{
					color = Math.floor(Math.random()*255).toString(16);
					if(color.length === 1) color = "0" + color;
					str += color;
				}
				return str;
			}

			function psychadelic()
			{
				document.getElementById("start").className = "on";
				canvas.style.display = null;
				setInterval(timer, 50);
			}
		</script>
<%- include('../partials/footer') %>