<%- include('../partials/header',{title:"lion"}) %>
		<style>
			body {
				display: flex;
				background-image: url("<%= assets %>/window/light-stars.png");
			}
			#lion {
				display: block;
				width: 300px;
				height: 300px;
				margin: auto;
				background-image: url("<%= assets %>/lion.png");
				background-size: cover;
				background-position: top right;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/03-01.png" height="54px"/>
			<img class="symbl" src="<%= assets %>/product/04-05.png" height="54px"/>
			<img class="symbl" src="<%= assets %>/product/06-04.png" height="27px"/>
		</div>
		<div id="lion" title="lion"></div>
<%- include('../partials/footer') %>