<%- include('../partials/header',{title:"mute"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/mute/sheet.png");
				animation: bganim 200s linear infinite;
				image-rendering: pixelated;
			}
			@keyframes bganim {
				from { background-position: 0px 0px; }
				to { background-position: -6848px -2559px; }
			}
			#darken {
				position: fixed;
				width: 100vw;
				height: 100vh;
				background: black;
				transition: opacity .7s;
			}
			.on #darken {
				opacity: .85;
			}
			#icon {
				width: 636px;
				height: 636px;
				margin: calc(50vh - 318px) calc(50vw - 318px);
				opacity: .35;
				display: flex;
				z-index: 50;
				position: fixed;
			}
			#icon a {
				margin: auto;
				width: 481px;
				height: 481px;
			}
			.on #icon {
				background:
url("<%= assets %>/mute/speaker.png") 88px center no-repeat,
url("<%= assets %>/mute/on.png") 479px center no-repeat;
			}
			.off #icon {
				background:
url("<%= assets %>/mute/speaker.png") 88px center no-repeat,
url("<%= assets %>/mute/off.png");
			}
			#text {
				margin: calc(50vh - 26px) calc(50vw - 339px);
				width: 678px;
				height: 53px;
				position: fixed;
				pointer-events: none;
				z-index: 100;
			}
			.on #text {
				background: url("<%= assets %>/mute/textunmuted.gif");
			}
			.off #text {
				background: url("<%= assets %>/mute/textmuted.png") center no-repeat;
			}
		</style>
	</head>
	<body>
		<div id="text"></div>
		<div id="icon">
			<a href="javascript:void(0);" onclick="buttonclick()"></a>
		</div>
		<div id="darken"></div>
		<script type="text/javascript" src="<%= assets %>/audio.js?v=<%= global.aev %>"></script>
		<script>
			a_init(<%= global.audio %>);

			var bgloop;
			var onsauce;
			var offsauce;
			function updatedoc() {
				document.body.className = a_canplay ? "on" : "off";
				if(a_canplay) {
					if(bgloop === undefined) {
						bgloop = a_source({
							path: "<%= assets %>/mute/bg.ogg",
							loop: true,
							level: 5,
							fade: 5,
							ignoremute: true
						});
					} else {
						a_resume(bgloop);
						a_setlevel(bgloop, 5, .5);
					}
				} else {
					if(bgloop !== undefined)
						a_setlevel(bgloop, 0, 1.25);
				}
			}
			updatedoc();

			function buttonclick() {
				a_canplay = !a_canplay;

				a_resumectx(true);
				if(onsauce === undefined) {
					onsauce = a_source({
						path: "<%= assets %>/mute/on.ogg",
						level: .4,
						play: a_canplay,
						detune: .05,
						ignoremute: true
					});
					offsauce = a_source({
						path: "<%= assets %>/mute/off.ogg",
						level: .4,
						buss: onsauce,
						play: !a_canplay,
						detune: .05,
						ignoremute: true
					});
				} else {
					a_play(a_canplay ? onsauce : offsauce, 0);
				}
				updatedoc();

				document.body.className = a_canplay ? "on" : "off";

				let nextmonth = new Date();
				nextmonth.setTime(nextmonth.getTime() + 2592000000);
				document.cookie = "audio=" + a_canplay + ";expires=" + nextmonth.toUTCString() + ";path=/;SameSite=Lax";
			}
		</script>
<%- include('../partials/footer') %>
