<%- include('../partials/header',{title:"news"}) %>
		<style>
			body {
				display: flex;
				background-image: url("<%= assets %>/window/light-stars.png");
			}
			#btn {
				margin: auto;
			}
			#vid {
				max-width: 90vw;
				height: 90vh;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/07-05.png" height="70px"/>
			<img class="symbl" src="<%= assets %>/product/07-08.png" height="70px"/>
		</div>
		<a id="btn" href="javascript:void(0);" onclick="replay()" style="pointer-events: none">
			<video id="vid" autoplay muted>
				<source src="<%= assets %>/news.mp4" type="video/mp4">
			</video>
		</a>
		<script>
			var vid = document.getElementById("vid");
			var btn = document.getElementById("btn");
			vid.onended = function() {
				btn.style.pointerEvents = null;
			};
			function replay() {
				btn.style.pointerEvents = "none";
				vid.play();
			}
		</script>
<%- include('../partials/footer') %>
