<%- include('../partials/header',{title:"password"}) %>
		<link rel=StyleSheet href="<%= assets %>/window/window.css?v=3" type="text/css" media=screen>
		<style>
			.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}

			body {
				background-image: url("<%= assets %>/window/heavy-stars.png");
			}
			.win-pos {
				color: black;
				font-size: 16px;
				font-family: Tahoma, sans-serif;
			}
			.win-inner {
				background: none;
				padding: 3px;
			}
			.text {
				margin: 0 0 10px 0;
				line-height: 1.1;
			}
			.label {
				font-size: 10px;
				font-weight: bold;
				margin: 5px 0 -1px 0;
				display: block;
			}
			.inpt {
				font-family: inherit;
				border: 0;
				padding: 0;
				cursor: text;
				padding-left: 4px;
				width: calc(100% - 14px);
				margin-left: 2px;
				font-size: 14px;
				height: 26px;
			}
			.confirm {
				margin: 10px auto 0 auto;
				width: max-content;
				padding: 1px 8px 4px 8px;
				font-size: 14px;
			}
			#win-pass {
				width: 320px;
				height: 236px;
				margin-left: -135px;
				margin-top: -109px;
			}
			#win-pass .text {
				background: url("<%= assets %>/password.png");
				width: 294px;
				height: 79px;
			}
			.win-incorrect, .win-empty {
				width: 320px;
				height: 118px;
				margin-left: -160px;
				margin-top: -59px;
				animation: anim .1s linear 1;
				overflow: hidden;
			}
			@keyframes anim{
				from { height: 0; }
				to {height: 118; }
			}
			.win-incorrect .titletext {
				background: url("<%= assets %>/password.png");
				background-position-y: -79px;
				height: 30px;
				width: 294px;
			}
			.win-incorrect .text {
				background: url("<%= assets %>/password.png");
				background-position-y: -131px;
				height: 23px;
				width: 294px;
			}
			.win-empty .text {
				background: url("<%= assets %>/password.png");
				background-position-y: -79px;
				height: 52px;
				width: 294px;
			}
		</style>
	</head>
	<body>
		<div style="display:none">
			<div class="win-wrap">
				<div class="win-incorrect win-pos">
					<div class="win-frame">
						<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
					</div>
					<div class="win-inner">
						<div class="titletext"></div>
						<div class="text"></div>
						<div class="win-button confirm" onclick="closee(this.parentNode.parentNode);">OK.</div>
					</div>
				</div>
			</div>
			<div class="win-wrap">
				<div class="win-empty win-pos">
					<div class="win-frame">
						<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
					</div>
					<div class="win-inner">
						<div class="text"></div>
						<div class="win-button confirm" onclick="closee(this.parentNode.parentNode);">OK.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="win-wrap">
			<div id="win-pass" class="win-pos">
				<div class="win-frame">
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner">
					<div class="text"></div>
					<label for="usr" class="label">Username:</label>
					<input class="win-insetborder inpt" id="usr" spellcheck="false" onclick="this.focus()"></input>
					<label for="pswrd" class="label">Password:</label>
					<input class="win-insetborder inpt" type="password" id="pswrd" spellcheck="false" onclick="this.focus()"></input>
					<div class="win-button confirm" onclick="loginattempt();">Login</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/window/movable.js"></script>
		<script type="text/javascript">
			let dragwin = document.getElementById("win-pass");
			dragElement(dragwin.parentNode, dragwin, true);

			function closee(win) {
				win.style.display = "none";
			}

			randomize(document.getElementById("win-pass"));

			var incorrect = document.getElementsByClassName("win-incorrect")[0].parentNode;
			var empty = document.getElementsByClassName("win-empty")[0].parentNode;
			var attempts = 0;
			var lastpass = "";
			var lastuser = "";
			var usr = document.getElementById("usr");
			var pswrd = document.getElementById("pswrd");
			function loginattempt() {
				let clone;
				if(usr.value === "" || pswrd.value === "") {
					clone = empty.cloneNode(true);
				} else {
					if(usr.value !== lastuser || pswrd.value !== lastpass) {
						if(++attempts >= 3) {
							window.location = "/secret";
							return;
						}
						lastuser = usr.value;
						lastpass = pswrd.value;
					}
					clone = incorrect.cloneNode(true);
				}
				let child = clone.getElementsByClassName("win-pos")[0];
				document.body.appendChild(clone);
				randomize(child);
				dragElement(clone, child, true);
			}
			function randomize(el) {
				el.style.top = (Math.random()*50+25) + "vh";
				el.style.left = (Math.random()*50+25) + "vw";
			}
		</script>
<%- include('../partials/footer') %>
