<%- include('../partials/header',{title:"personal",color:"#aa0000"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/window/light-stars.png");
				display: flex;
			}
			#mainimage {
				position: relative;
				margin: auto;
				width: 450px;
				height: 200px;
				background: url("<%= assets %>/personal.png") no-repeat 5px 8px, black;
				border: 4px #aa0000 solid;
			}
			#option {
				position: absolute;
				display: block;
				bottom: 7px;
				right: 7px;
				height: 27px;
				width: 348px;
				background-color: #262626;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/08-07.png" width="40px"/>
			<img class="symbl" src="<%= assets %>/product/08-06.png" width="51px"/>
			<img class="symbl" src="<%= assets %>/product/06-00.png" width="30px"/>
		</div>
		<div id="mainimage">
			<a id="option" href="/joke" title="joke"></a>
		</div>
<%- include('../partials/footer') %>
