<%- include('../partials/header',{title:"reality"}) %>
		<style>
			body{
				background-image: url("<%= assets %>/window/heavy-stars.png");
				font-size: 1.6em;
				display: flex;
			}

			.mainimage {
				margin: auto;
				max-width:400px;
			}

			.mainimagelink {
				width: 400px;
				height: 400px;
				background-image: url("<%= assets %>/reality.gif");
				display: block;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/07-06.png" height="52px"/>
			<img class="symbl" src="<%= assets %>/product/06-03.png" height="18px"/>
			<img class="symbl" src="<%= assets %>/product/00-05.png" width="132px" style="margin-left:10px;"/>
		</div>
		<div class="mainimage">
			<a class="mainimagelink" href="/bus" title="bus"></a>
			there was a time when i was <a href="/clouds" title="clouds">gone</a>
		</div>
<%- include('../partials/footer') %>