<%- include('../partials/header',{title:"time"}) %>
		<style>
			body {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				font-size: 0;
			}

			#count {
				margin-bottom: 50px;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/08-00.png" height="58px"/>
		</div>
		<a id="count" href="/message" title="message">
			<img src="<%= assets %>/time/<%=
				Math.floor(viscount*.0001)%10
			%>.png"/ class="counter">
			<img src="<%= assets %>/time/<%=
				Math.floor(viscount*.001)%10
			%>.png"/ class="counter">
			<img src="<%= assets %>/time/<%=
				Math.floor(viscount*.01)%10
			%>.png"/ class="counter">
			<img src="<%= assets %>/time/<%=
				Math.floor(viscount*.1)%10
			%>.png"/ class="counter">
			<img src="<%= assets %>/time/<%=
				viscount%10
			%>.png"/ class="counter">
		</a>
		<img src="<%= assets %>/time/time.gif"/>
<%- include('../partials/footer') %>
