<%- include('../partials/header',{title:"who"}) %>
		<style>
			.mainimage {
				margin: calc(50vh - 31px) auto;
				width:48px;
			}

			.who {
				width: 35px;
				height: 15px;
				background-image: url("<%= assets %>/who/who.png");
				display: block;
				margin: 10px auto;
			}

			.phone {
				width: 48px;
				height: 14px;
				background-image: url("<%= assets %>/who/phone.png");
				display: block;
				margin: 10px auto;
			}

			.question {
				width: 6px;
				height: 13px;
				background-image: url("<%= assets %>/who/question.png");
				display: block;
				margin: 10px auto;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/07-05.png" height="70px"/>
			<img class="symbl" src="<%= assets %>/product/07-08.png" height="70px"/>
		</div>
		<div class="mainimage">
			<a class="who" href="/myself-today" title="myself-today"></a>
			<a class="phone" href="/lines" title="lines"></a>
			<a class="question" href="/answer" title="answer"></a>
		</div>
<%- include('../partials/footer') %>