<%- include('../partials/header',{title:"who",color:"#006700"}) %>
		<style>
			body {
				display: flex;
				background: #006700;
			}

			.mainimage {
				margin: auto;
				padding: 0 31px;
				border: 1px white solid;
				background: black;
			}

			.who {
				width: 95px;
				height: 148px;
				background-image: url("<%= assets %>/who/who.png");
				display: block;
				margin: 10px auto;
				position: relative;
				left: -105px;
			}

			.phone {
				width: 263px;
				height: 39px;
				background-image: url("<%= assets %>/who/phone.png");
				display: block;
				margin: 10px auto;
			}

			.question {
				width: 22px;
				height: 58px;
				background-image: url("<%= assets %>/who/question.png");
				display: block;
				margin: 10px auto;
				position: relative;
				left: 130px;
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/07-05.png" height="70px"/>
			<img class="symbl" src="<%= assets %>/product/07-08.png" height="70px"/>
		</div>
		<div class="mainimage">
			<a class="who" href="/myself-today" title="myself-today"></a>
			<a class="phone" href="/lines" title="lines"></a>
			<a class="question" href="/answer" title="answer"></a>
		</div>
<%- include('../partials/footer') %>