<%- include('../partials/header',{title:"worthy",color:"#FF0000"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/window/heavy-stars.png");
			}
			#fc {
				font-size: 8vmin;
				position: fixed;
				display: inline-block;
				top: calc(50vh - 5.5vmin);
				left: calc(50vw - 5.5vmin);
			}
		</style>
	</head>
	<body>
		<div id="symbolo">
			<img class="symbl" src="<%= assets %>/product/03-02.png" height="67px"/>
			<img class="symbl" src="<%= assets %>/product/05-07.png" height="80px"/>
			<img class="symbl" src="<%= assets %>/product/00-08.png" height="40px"/>
		</div>
		<div id="fc">😒</div>
		<script>
			var fc = document.getElementById("fc");
			var touched = false;
			let fcbox = fc.getBoundingClientRect();
			var pos;
			var lerpos = [fcbox.height*-.5,fcbox.width*-.5];
			fc.style.top = "calc(50vh + " + lerpos[0] + "px)";
			fc.style.left = "calc(50vw + " + lerpos[1] + "px)";
			var bounds = [
				(document.body.clientHeight*-.5)-fcbox.height,
				(document.body.clientWidth*-.5)-fcbox.width,
				document.body.clientHeight*.5,
				document.body.clientWidth*.5];
			var redirect = 1000;

			window.onresize = function() {
				if(touched) return;
				let fcbox = fc.getBoundingClientRect();
				fc.style.top = "calc(50vh - " + (fcbox.height*.5) + "px)";
				fc.style.left = "calc(50vw - " + (fcbox.width*.5) + "px)";
				bounds = [
					(document.body.clientHeight*-.5)-fcbox.height,
					(document.body.clientWidth*-.5)-fcbox.width,
					document.body.clientHeight*.5,
					document.body.clientWidth*.5];
			}

			document.onmousemove = function(e) {
				let fcbox = fc.getBoundingClientRect();
				let fcpos = [fcbox.left + (fcbox.width*.5), fcbox.top + (fcbox.height*.5)];
				let dist = Math.pow(fcpos[0] - e.pageX,2) + Math.pow(fcpos[1] - e.pageY,2);
				//8000
				if(dist <= 40000) {
					dist = Math.sqrt(dist);
					let angle = Math.atan2(fcpos[0] - e.pageX,fcpos[1] - e.pageY);
					pos = [
						fcbox.top - window.innerHeight*.5 + (Math.cos(angle)*(200 - dist)),
						fcbox.left - window.innerWidth*.5 + (Math.sin(angle)*(200 - dist))];
					if(touched == false) window.requestAnimationFrame(lerpify);
					touched = true;
				}
			}

			var dt = null;
			function lerpify(timestamp) {
					if(!dt) dt = timestamp;
					let dtt = timestamp - dt;
					dt = timestamp;

					lerpos = [
						lerpos[0]*(1-(dtt*.003)) + pos[0]*.003*dtt,
						lerpos[1]*(1-(dtt*.003)) + pos[1]*.003*dtt];
					fc.style.top = "calc(50vh + " + lerpos[0] + "px)";
					fc.style.left = "calc(50vw + " + lerpos[1] + "px)";

					if(
						lerpos[0] < bounds[0] ||
						lerpos[1] < bounds[1] ||
						lerpos[0] > bounds[2] ||
						lerpos[1] > bounds[3]) {
						if(redirect > 0 && redirect-dtt < 0)
							window.location = "/button";
						redirect -= dtt;
					}

					window.requestAnimationFrame(lerpify);
			}
		</script>
<%- include('../partials/footer') %>
