<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dream Buster</title>

		<meta name="theme-color" content="#ffffff">
		<link rel="apple-touch-icon" href="/icons/db152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/db180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/db196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/db192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/icons/db32.png" sizes="32x32">

		<meta name="dcterms.rightsHolder" content="Dream Buster">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:title" content="Dream Buster">
		<meta name="twitter:title" content="Dream Buster">
		<meta property="og:description" content="Porting games from alternate dimensions since 372X.">
		<meta name="twitter:description" content="Porting games from alternate dimensions since 372X.">
		<meta name="description" content="Porting games from alternate dimensions since 372X.">
		<meta property="og:image" content="<%= assets %>/og.png">
		<meta name="twitter:image" content="<%= assets %>/og.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-----------MESSAGE TO ALL READERS-----------
			I want to sincerely apologize for my awful use of flexboxes in this CSS code.
			thank you for your time !>-->
		<style>
			html, body {
				margin: 0;
				padding: 0;
				width: 100vw;
				height: 100vh;
				overflow-y: auto;
				overflow-x: hidden;
				font-family: 'Libre Baskerville', sans-serif;
				line-height: 1.5;
				background-color: #000027;
				interpolation-mode: nearest-neighbor;
				-ms-interpolation-mode: nearest-neighbor;
				image-rendering: pixelated;
			}

			::selection {
				color: #333;
				background: #999999fe;
			}

			::-moz-selection {
				color: #333;
				background: #999999fe;
			}

			*::-webkit-scrollbar {
				width: 7px;
			}

			*::-webkit-scrollbar-track {
				background-color: white;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #777;
				outline: none;
			}

			#bigtitle {
				width: 310px;
				height: calc(100% - 40px);
				padding: 20px;
				overflow-y: auto;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
				background-color: #fff;
				position: fixed;
				z-index: 1000;
			}

			#logo {
				margin: 10px auto 0 calc(50% - 102px);
			}

			#jerry {
				margin: 10px auto 0 calc(50% - 29px);
			}

			#games {
				margin-left: 350px;
			}

			a {
				color: #000;
				font-weight: bold;
			}

			#footer {
				color: white;
				font-weight: bold;
				text-align: center;
				opacity: .5;
			}

			.gaem {
				height: 275px;
				display: flex;
				align-items: center;
				padding-bottom: 70px;
			}

			.logo {
				margin: auto;
				display: flex;
				line-height: 0;
				border: 20px solid transparent;
			}

			.logo img {
				max-width: 100%;
				margin: auto;
			}

			.graphic {
				flex: 2 0 275px;
				display: flex;
			}

			.sidebar {
				flex: 0 0 331px;
			}

			iframe {
				width: calc(100% - 10px);
				height: 171px;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
				background-color: black;
			}

			#counter {
				background: black;
				opacity: 0.99999;
				padding: 0;
				box-shadow: 0px 0px 30px 35px rgba(0,0,0,1);
				flex-direction: column;
				justify-content: center;
				display: flex !important;
				display: none !important;
			}

			#counternumber {
				color: white;
				text-align: center;
				font-size: 2.5vw;
				padding: 0 50px;
				font-weight: bold;
			}

			#counterdate {
				color: white;
				text-align: center;
				font-size: 1.5vw;
				padding: 0 50px;
			}

			#rr {
				background: radial-gradient(circle, #587F918C 0%, #587F9161 100%), url(<%= assets %>/rr/bg.png) center 66%;
				background-size: cover;
				padding: 70px 0;
				margin-top: -70px;
				image-rendering: initial;
			}

			#rr .logo img {
				max-height: 110%;
			}

			#rrbg {
				background-image: url(<%= assets %>/rr/overlay.png);
				background-position: bottom left;
				width: 100%;
				height: 100%;
				display: inherit;
				align-items: inherit;
				padding-top: 70px;
				margin-top: -70px;
			}

			#avtw {
				margin-top: -70px;
				background: url(<%= assets %>/rr/overlay-bottom.png) top left, url(<%= assets %>/avtw/topgrass.png) bottom left, url(<%= assets %>/avtw/trees.png) bottom 26px left, url(<%= assets %>/avtw/clouds.png) bottom left, url(<%= assets %>/avtw/sky.png) top left, linear-gradient(to bottom, #569CCD00 70px, #569CCD 70px);
				background-repeat: repeat-x;
				background-size: auto;
				padding: 50px 0 20px 0;
				image-rendering: initial;
			}

			#bmcp {
				background-image: url(<%= assets %>/bmcp/end.png);
				background-repeat: repeat-x;
				background-position: bottom left;
				position: relative;
				margin-top: -167px;
			}

			#bmcpbgbs {
				height: 167px;
				width: 100%;
				background-image: url(<%= assets %>/avtw/connector.png), url(<%= assets %>/bmcp/bg.png);
				background-repeat: repeat-x, repeat;
				background-position: top left, bottom left;
				padding-top: 70px;
			}

			#aoj {
				background-image: url(<%= assets %>/aoj/bg.png), linear-gradient(to top, #FF5C66 70px, #710032 70px);
				background-repeat: repeat, no-repeat;
				background-position: bottom center;
				margin-top: -100px;
				padding-top: 100px;
			}

			#cdrxiv {
				background-image: url(<%= assets %>/cdrxiv/sun.png), url(<%= assets %>/cdrxiv/bg.png), linear-gradient(to bottom, #FF5C66 95%, #000027 95%);
				background-repeat: no-repeat, repeat-x, no-repeat;
				background-position: bottom left;
			}

			#slogan {
				font-style: italic;
				text-align: center;
			}

			@media only screen and (max-width: 1000px) {
				#bigtitle {
					width: auto;
					height: auto;
					overflow-y: initial;
					position: relative;
				}

				#games {
					margin-left: 0;
				}

				@media only screen and (max-width: 750px) {
					.gaem {
						display: block;
						padding: 0 20px 70px 20px;
						height: 475px;
					}

					.logo {
						height: 185px;
					}

					#bmcp {
						margin-top: -367px;
					}

					#bmcpbgbs {
						height: 367px;
					}

					iframe {
						height: 200px;
						width: 360px;
						margin-left: calc(50% - 180px);
					}

					.logo img {
						max-height: 90%;
						margin: auto;
					}
				}
			}
		</style>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre%20Baskerville%3A400%2C400italic%2C700%2C700italic" type="text/css"/>
	</head>
	<body>
		<div id="bigtitle">
			<img src="<%= assets %>/logo.png" id="logo"/>
			<p id="slogan">Porting games from alternate dimensions since 372X.</p>
			<p>We are a group of bored individuals who participate in Ludum Dare because we want to.</p>
			<p>Theres <a href="https://soundcloud.com/the_real_astrodex/" target="_blank">Astro</a> and <a href="https://laulaulau.bandcamp.com" target="_blank">Lau</a> working on the music (lau also does the trailers), <a href="https://twitter.com/James9270Dev" target="_blank">James</a> doing some code magic, <a href="https://twitter.com/Noogai223" target="_blank">Noogai</a> on the sprites, <a href="https://unplug.red/" target="_blank">Red</a> doing 3D models and shaders, and <a href="https://twitter.com/Rjwest07" target="_blank">RJ</a> being the team mascot 🎉</p>
			<p>You can check out all of our games in our <a href="https://dreambuster.itch.io/" target="_blank">itch.io page</a>, and trailers on our <a href="https://www.youtube.com/channel/UCr70fbLAXeL38wgUol6sGPQ" target="_blank">youtube account</a>.</p>
			<p>you are also invited to check out the <a href="<%= assets %>/halloffame">Dream Buster Hall of Fame</a> for random stuff we send on discord</p>
			<img src="<%= assets %>/jerry.png" id="jerry"/>
		</div>
		<div id="games">
			<div id="counter" class="gaem">
				<div id="counternumber"></div>
				<div id="counterdate"></div>
			</div>
			<div id="rr" class="gaem">
				<div id="rrbg">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/record-runner" target="_blank" class="logo"><img src="<%= assets %>/rr/logo.png"/></a>
				</div>
				<div class="sidebar">
					<iframe src="https://www.youtube.com/embed/i4Gu5uQCn6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				</div>
			</div>
			<div id="avtw" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/avtw" target="_blank" class="logo"><img src="<%= assets %>/avtw/logo.png"/></a>
				</div>
				<div class="sidebar">
					<iframe src="https://www.youtube.com/embed/j5ru1vewBYQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="bmcpbgbs"></div>
			<div id="bmcp" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/bmcp" target="_blank" class="logo"><img src="<%= assets %>/bmcp/logo.png"/></a>
				</div>
				<div class="sidebar">
					<iframe src="https://www.youtube.com/embed/ypznQaU9SH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="aoj" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/attack-on-jerry" target="_blank" class="logo"><img src="<%= assets %>/aoj/logo.png"/></a>
				</div>
				<div class="sidebar">
					<iframe src="https://www.youtube.com/embed/TwTBj7tcUSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="cdrxiv" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/car-destruction-racer-xiv" target="_blank" class="logo"><img src="<%= assets %>/cdrxiv/logo.png"/></a>
				</div>
				<div class="sidebar">
					<iframe src="https://www.youtube.com/embed/jazxOs4PkqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<p id="footer">All rights reserved or smth idk. privacy policy: none we dont track anything<br/>Jerry loves you all</p>
		</div>
		<script>
			function updateeverything()
			{
				var start = Date.UTC(2020, 3, 18, 1, 0, 0, 0);
				if(start < Date.now()) {
					start = Date.UTC(2020, 3, 21, 1, 0, 0, 0);
					document.getElementById("counterdate").style.display = "none";
				}
				else {
					let startdate = new Date(start);
					let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
					let starttime;
					if(startdate.getHours() < 12) starttime = startdate.getHours() + ":" + startdate.getMinutes().toString().padStart(2, '0') + "AM";
					else starttime = (startdate.getHours() - 12) + ":" + startdate.getMinutes().toString().padStart(2, '0') + "PM";
					let counterdate = document.getElementById("counterdate");
					counterdate.style.display = null;
					counterdate.innerHTML = days[startdate.getDay()] + " " + startdate.getDate() + "/" + (startdate.getMonth() + 1) + "/" + startdate.getFullYear() + " " + starttime;
				}

				if(start < Date.now()) {
					document.getElementById("counter").style.height = "0";
					document.getElementById("counter").style.marginTop = "-70px";
				}
				else {
					document.getElementById("counter").style.height = null;
					document.getElementById("counter").style.marginTop = null;
					var counternumber = document.getElementById("counternumber");
					var interval = setInterval(update, 1000);
					function update()
					{
						var compare = start - Date.now();
						if(compare < 0) {
							clearInterval(interval);
							updateeverything();
						}
						else {
							var compdate = new Date(compare);
							counternumber.innerHTML = Math.floor(compare/86400000.0) + " days, " + compdate.getUTCHours() + " hours, " + compdate.getUTCMinutes() + " minutes, " + compdate.getUTCSeconds() + " seconds";
						}
					}
					update()
				}
			}
			updateeverything();
		</script>
	</body>
</html>