<% var embed = false || (process.env.NODE_ENV === 'production');
%><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dream Buster</title>

		<meta name="theme-color" content="#ffffff">
		<link rel="apple-touch-icon" href="/icons/db152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/db180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/db196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/db32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/db192.png" sizes="192x192">

		<meta name="dcterms.rightsHolder" content="Dream Buster">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:title" content="Dream Buster">
		<meta name="twitter:title" content="Dream Buster">
		<meta property="og:description" content="Porting games from alternate dimensions since 372X.">
		<meta name="twitter:description" content="Porting games from alternate dimensions since 372X.">
		<meta name="description" content="Porting games from alternate dimensions since 372X.">
		<meta property="og:image" content="<%= assets %>/og.png">
		<meta name="twitter:image" content="<%= assets %>/og.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			html, body {
				margin: 0;
				padding: 0;
				width: 100vw;
				height: 100vh;
				overflow-y: auto;
				overflow-x: hidden;
				font-family: 'Libre Baskerville', sans-serif;
				line-height: 1.5;
				background-color: #000027;
				interpolation-mode: nearest-neighbor;
				-ms-interpolation-mode: nearest-neighbor;
				image-rendering: pixelated;
				image-rendering: crisp-edges;
			}

			::selection {
				color: #333;
				background: #999999fe;
			}

			::-moz-selection {
				color: #333;
				background: #999999fe;
			}

			*::-webkit-scrollbar {
				width: 7px;
			}

			*::-webkit-scrollbar-track {
				background-color: white;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #777;
				outline: none;
			}

			#bigtitle {
				width: 310px;
				height: calc(100% - 40px);
				padding: 20px;
				overflow-y: auto;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
				background-color: #fff;
				position: fixed;
				z-index: 1000;
			}

			#logo {
				margin: 10px auto 0 calc(50% - 102px);
			}

			#jerry {
				margin: 10px auto 0 calc(50% - 29px);
			}

			#canva {
				position: fixed;
				pointer-events: none;
				right: 0;
				top: 0;
			}

			#games {
				width: calc(99vw - 350px);
				position: fixed;
				z-index: 1;
				right: 1vw;
			}

			a {
				color: #000;
				font-weight: bold;
			}

			#footer {
				color: white;
				font-weight: bold;
				text-align: center;
				opacity: .5;
			}

			.gaem {
				height: 275px;
				display: flex;
				align-items: center;
				padding-bottom: 70px;
			}

			.logo {
				margin: auto;
				display: flex;
				line-height: 0;
				border: 20px solid transparent;
			}

			.logo img {
				max-width: 100%;
				margin: auto;
			}

			.graphic {
				flex: 2 0 275px;
				display: flex;
			}

			.sidebar {
				flex: 0 0 331px;
			}

			iframe {
				width: calc(100% - 10px);
				height: 171px;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
				background-color: black;
				border-radius: 8px;
			}

			#counter {
				flex-direction: column;
				justify-content: center;
				display: flex !important;
				height: 275px;
			}

			#counternumber {
				color: white;
				text-align: center;
				font-size: 2.5vw;
				padding: 0 50px;
				font-weight: bold;
			}

			#counterdate {
				color: white;
				text-align: center;
				font-size: 1.5vw;
				padding: 0 50px;
			}

			#bmcp img {
				width: 942px;
			}

			#rr img {
				max-height: 110%;
				filter: drop-shadow(0 0 15px #00000090);
				image-rendering: optimizequality;
			}

			#avtw img {
				filter: drop-shadow(0 0 3px black) drop-shadow(0 0 2px #00000070);
				image-rendering: optimizequality;
			}

			#cdrxiv img {
				-webkit-mask-image: url(<%= assets %>/cdrxiv/mask.png);
				-webkit-mask-size: contain;
				background-image: url(<%= assets %>/cdrxiv/logoline.png), url(<%= assets %>/cdrxiv/logo.png);
				background-size: contain;
				background-repeat: no-repeat;
				animation-name: cdrxivflash;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-duration: 6s;
			}

			@keyframes cdrxivflash {
				from { background-position-x: -1000%, center; }
				to { background-position-x: 1040%, center; }
			}

			#ps img {
				image-rendering: optimizequality;
			}
			#ps-wrap {
				margin: auto;
				position: relative;
			}
			.ps-text {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				background-repeat: no-repeat;
				top: 0;
				left: 0;
				transition: transform .001s;
				image-rendering: optimizequality;
			}
			#ps-stellar {
				background-image: url("<%= assets %>/ps/stellar.png");
				background-position: 97% 60%;
				background-size: 43.781094527%;
			}
			#ps-stellarfog {
				background-image: url("<%= assets %>/ps/stellarfog.png");
				background-position: bottom right;
				background-size: 46.019900498%;
			}

			#slogan {
				font-style: italic;
				text-align: center;
			}

			@media(max-width: 1000px) {
				#bigtitle {
					width: auto;
					height: auto;
					overflow-y: initial;
					position: relative;
				}

				#games {
					width: 100vw;
					right: 0;
				}

				#counternumber {
					font-size: 3.5vw;
				}

				#counterdate {
					font-size: 2.2vw;
				}

				@media(max-width: 750px) {
					.gaem {
						display: block;
						padding: 0 20px 70px 20px;
						height: 475px;
					}

					.logo {
						height: 185px;
					}

					iframe {
						height: 200px;
						width: 360px;
						margin-left: calc(50% - 180px);
					}

					.logo img {
						max-height: 90%;
						margin: auto;
					}
				}
			}
		</style>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre%20Baskerville%3A400%2C400italic%2C700%2C700italic" type="text/css"/>
	</head>
	<body>
		<div id="bigtitle">
			<img src="<%= assets %>/logo.png" id="logo"/>
			<p id="slogan">Porting games from alternate dimensions since 372X.</p>
			<p>We are a group of bored individuals who participate in Ludum Dare because we want to.</p>
			<p>Theres <a href="https://laulaulau.bandcamp.com" target="_blank">Lau</a> working on the music and also the trailers, <a href="https://twitter.com/James9270Dev" target="_blank">James</a> doing some code magic, <a href="https://twitter.com/Noogai223" target="_blank">Noogai</a> on the sprites, <a href="https://unplug.red/" target="_blank">Red</a> doing 3D models and shaders, and <a href="https://twitter.com/Rjwest07" target="_blank">RJ</a> being the team mascot 🎉</p>
			<p>You can check out all of our games in our <a href="https://dreambuster.itch.io/" target="_blank">itch.io page</a>, and trailers on our <a href="https://www.youtube.com/channel/UCr70fbLAXeL38wgUol6sGPQ" target="_blank">youtube account</a>.</p>
			<p>you are also invited to check out the <a href="<%= assets %>/halloffame">Dream Buster Hall of Fame</a> for random stuff we send on discord</p>
			<img src="<%= assets %>/jerry.png" id="jerry"/>
		</div>
		<canvas id="canva"></canvas>
		<div id="games">
			<div id="counter" class="gaem">
				<div id="counternumber"></div>
				<div id="counterdate"></div>
			</div>
			<div id="ps" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/psycho-stellar" target="_blank" class="logo">
						<div id="ps-wrap">
							<img src="<%= assets %>/ps/psycho.png"/>
							<div class="ps-text" id="ps-stellarfog"></div>
							<div class="ps-text" id="ps-stellar"></div>
						</div>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/VTx7ASrDRX4" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="rr" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/record-runner" target="_blank" class="logo">
						<img src="<%= assets %>/rr/logo.gif"/>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/i4Gu5uQCn6k" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="avtw" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/avtw" target="_blank" class="logo">
						<img src="<%= assets %>/avtw/logo.gif"/>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/j5ru1vewBYQ" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="bmcp" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/bmcp" target="_blank" class="logo">
						<img src="<%= assets %>/bmcp/logo.png"/>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/ypznQaU9SH8" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="aoj" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/attack-on-jerry" target="_blank" class="logo">
						<img src="<%= assets %>/aoj/logo.gif"/>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/TwTBj7tcUSc" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div id="cdrxiv" class="gaem">
				<div class="graphic">
					<a href="https://dreambuster.itch.io/car-destruction-racer-xiv" target="_blank" class="logo">
						<div id="cdrxivwrap"><img src="<%= assets %>/cdrxiv/blank.png"/></div>
					</a>
				</div>
				<div class="sidebar">
					<iframe class="trailer" title="<%= embed ? "https://www.youtube.com/embed/jazxOs4PkqY" : "" %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<p id="footer">All rights reserved or smth idk.<br/>privacy policy: none we dont track anything<br/>Jerry loves you all</p>
			<img style="display: none" id="ps_bg" src="<%= assets %>/ps/bg.png">
			<img style="display: none" id="ps_bg-bottom" src="<%= assets %>/ps/bg-bottom.png">
			<img style="display: none" id="ps_butterfly" src="<%= assets %>/ps/butterfly.png">
			<img style="display: none" id="avtw_rr" src="<%= assets %>/rr/bg.png">
			<img style="display: none" id="rr_overlay" src="<%= assets %>/rr/overlay.png">
			<img style="display: none" id="rr_overlay-bottom" src="<%= assets %>/rr/overlay-bottom.png">
			<img style="display: none" id="avtw_sky" src="<%= assets %>/avtw/sky.png">
			<img style="display: none" id="avtw_trees" src="<%= assets %>/avtw/trees.png?v=2">
			<img style="display: none" id="avtw_clouds" src="<%= assets %>/avtw/clouds.png?v=2">
			<img style="display: none" id="avtw_topgrass" src="<%= assets %>/avtw/topgrass.png">
			<img style="display: none" id="avtw_connector" src="<%= assets %>/avtw/connector.png">
			<img style="display: none" id="bmcp_bg" src="<%= assets %>/bmcp/bg.png?v=2">
			<img style="display: none" id="bmcp_end" src="<%= assets %>/bmcp/end.png?v=2">
			<img style="display: none" id="aoj_bg" src="<%= assets %>/aoj/bg.png">
			<img style="display: none" id="cdrxiv_buildings" src="<%= assets %>/cdrxiv/buildings.png?v=2">
			<img style="display: none" id="cdrxiv_sun" src="<%= assets %>/cdrxiv/sun.png?v=2">
		</div>
		<script>
			var istimer = undefined;
			function updateeverything()
			{
				var start = Date.UTC(2021, 9, 1, 22, 0, 0, 0);
				if(start < Date.now()) {
					start = Date.UTC(2021, 9, 4, 22, 0, 0, 0);
					document.getElementById("counterdate").style.display = "none";
				} else {
					let startdate = new Date(start);
					let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
					let starttime;
					if(startdate.getHours() < 12) starttime = startdate.getHours() + ":" + startdate.getMinutes().toString().padStart(2, '0') + "AM";
					else starttime = (startdate.getHours() - 12) + ":" + startdate.getMinutes().toString().padStart(2, '0') + "PM";
					let counterdate = document.getElementById("counterdate");
					counterdate.style.display = null;
					counterdate.innerHTML = days[startdate.getDay()] + " " + startdate.getDate() + "/" + (startdate.getMonth() + 1) + "/" + startdate.getFullYear() + " " + starttime;
				}

				if(start < Date.now()) {
					document.getElementById("counter").style.height = "0";
					document.getElementById("counter").style.marginTop = "-70px";
					if(istimer !== undefined && istimer) redraw();
					istimer = false;
				}
				else {
					document.getElementById("counter").style.height = null;
					document.getElementById("counter").style.marginTop = null;
					if(istimer !== undefined && !istimer) redraw();
					istimer = true;
					var counternumber = document.getElementById("counternumber");
					var interval = setInterval(updatetimer, 1000);
					function updatetimer()
					{
						var compare = start - Date.now();
						if(compare < 0) {
							clearInterval(interval);
							updateeverything();
						}
						else {
							var compdate = new Date(compare);
							counternumber.innerHTML = Math.floor(compare/86400000.0) + " days, " + compdate.getUTCHours() + " hours, " + compdate.getUTCMinutes() + " minutes, " + compdate.getUTCSeconds() + " seconds";
						}
					}
					updatetimer()
				}
			}
			updateeverything();

			var bigtitle = document.getElementById("bigtitle");
			var canvas = document.getElementById("canva");
			var ctx = canvas.getContext("2d");

			var games = [{
					name: "cdrxiv",
					objects: [{
						name: "sun",
						wpercent: 0,
						xoffset: 53,
						scale: 3,
						tilex: false,
						ytscroll: 3,
						ytpercent: .9,
						crop: true,
						tdontcrop: 1,
						tfixed: false
					},{
						name: "buildings",
						scale: 3
					}]
				},{
					name: "aoj",
					objects: [{
						name: "bg",
						hpercent: 1,
						xtscroll: .4,
						xtspeed: -.006,
						hoffset: 227,
						tiley: true,
						pixelated: false
					}]
				},{
					name: "bmcp",
					objects: [{
						name: "bg",
						scale: 3,
						hpercent: 1,
						tiley: true,
						yoffset: -102,
						yscroll: 125,
						hoffset: 93
					},{
						name: "end",
						yscroll: 125,
						scale: 3
					}]
				},{
					name: "avtw",
					objects: [{
						name: "rr",
						hoffset: 70,
						hpercent: 1,
						tilex: false,
						pixelated: false
					},{
						name: "sky",
						yoffset: -70,
						pixelated: false
					},{
						name: "clouds",
						yoffset: -60,
						ypercent: .8,
						xtspeed: .015,
						yscroll: -80,
						ytpercent: 1,
						tdontcrop: 3,
						pixelated: false
					},{
						name: "trees",
						yoffset: -70,
						ytscroll: -.7,
						ytpercent: 1,
						pixelated: false,
						tdontcrop: 1,
						tfixed: false
					},{
						name: "topgrass",
						yoffset: -70,
						pixelated: false
					},{
						name: "connector",
						pixelated: false
					}]
				},{
					name: "rr",
					objects: [{
						name: "overlay",
						hpercent: 1,
						yoffset: -70,
						xtscroll: -.3,
						xtspeed: .004,
						xtpercent: 0,
						tiley: true,
						pixelated: false
					},{
						name: "overlay-bottom",
						yoffset: -13,
						xtscroll: -.3,
						xtpercent: 1,
						xtspeed: .004,
						pixelated: false
					}]
				},{
					name: "ps",
					objects: [{
						name: "bg",
						hpercent: 1,
						yoffset: -70,
						xtscroll: .3,
						xtspeed: -.004,
						xtpercent: 0,
						tiley: true,
						pixelated: false
					},{
						name: "bg-bottom",
						yoffset: 0,
						xtscroll: .3,
						xtspeed: -.004,
						xtpercent: 1,
						pixelated: false
					},{
						name: "butterfly",
						yoffset: -70,
						ypercent: 0.4,
						xpercent: .05,
						xoffset: -70,
						yscroll: 120,
						xscroll: -10,
						pixelated: false,
						tilex: false,
						wpercent: 0,
						blend: "lighter"
					}]
				}
			]

			for(let x = 0; x < games.length; x++) {
				for(let y = 0; y < games[x].objects.length; y++) {
					if(games[x].objects[y].div === undefined) games[x].objects[y].div = document.getElementById(games[x].name+"_"+games[x].objects[y].name);
					if(games[x].objects[y].xpercent === undefined) games[x].objects[y].xpercent = 0;
					if(games[x].objects[y].ypercent === undefined) games[x].objects[y].ypercent = 1;
					if(games[x].objects[y].wpercent === undefined) games[x].objects[y].wpercent = 1;
					if(games[x].objects[y].hpercent === undefined) games[x].objects[y].hpercent = 0;
					if(games[x].objects[y].xoffset === undefined) games[x].objects[y].xoffset = 0;
					if(games[x].objects[y].yoffset === undefined) games[x].objects[y].yoffset = 0;
					if(games[x].objects[y].woffset === undefined) games[x].objects[y].woffset = 0;
					if(games[x].objects[y].hoffset === undefined) games[x].objects[y].hoffset = 0;
					if(games[x].objects[y].xscroll === undefined) games[x].objects[y].xscroll = 0;
					if(games[x].objects[y].yscroll === undefined) games[x].objects[y].yscroll = 0;
					if(games[x].objects[y].xtspeed === undefined) games[x].objects[y].xtspeed = 0;
					if(games[x].objects[y].ytspeed === undefined) games[x].objects[y].ytspeed = 0;
					if(games[x].objects[y].xtscroll === undefined) games[x].objects[y].xtscroll = 0;
					if(games[x].objects[y].ytscroll === undefined) games[x].objects[y].ytscroll = 0;
					if(games[x].objects[y].xtpercent === undefined) games[x].objects[y].xtpercent = 0;
					if(games[x].objects[y].ytpercent === undefined) games[x].objects[y].ytpercent = 0;
					if(games[x].objects[y].tdontcrop === undefined) games[x].objects[y].tdontcrop = -1;
					if(games[x].objects[y].tfixed === undefined) games[x].objects[y].tfixed = true;
					if(games[x].objects[y].scale === undefined) games[x].objects[y].scale = 1;
					if(games[x].objects[y].tilex === undefined) games[x].objects[y].tilex = true;
					if(games[x].objects[y].tiley === undefined) games[x].objects[y].tiley = false;
					if(games[x].objects[y].crop === undefined) games[x].objects[y].crop = false;
					if(games[x].objects[y].pixelated === undefined) games[x].objects[y].pixelated = true;
					if(games[x].objects[y].blend === undefined) games[x].objects[y].blend = "source-over";
				}
			}

			var scrollspeed = 0.003;
			var gamesscrollspeed = 0.005;
			var scroll = 0;
			var gamesscroll = 0;
			var fscroll = 0;
			var gamesize = 345;
			var gamesdiv = document.getElementById("games");

			window.onload = function(){
				resizee();
				window.requestAnimationFrame(update);
				let trailers = document.getElementsByClassName("trailer");
				for(let t = 0; t < trailers.length; t++) {
					trailers[t].src = trailers[t].title;
					trailers[t].title = null;
				}
			};
			window.onresize = resizee;

			function resizee()
			{
				setTimeout(function(){
					canvas.width = document.body.clientWidth - (window.innerWidth > 1000 ? 350 : 0);
					canvas.style.right = (window.innerWidth-document.body.clientWidth)+"px";
					canvas.height = window.innerHeight;
					document.body.style.height = ((window.innerWidth<=1000?bigtitle.scrollHeight:0)+gamesdiv.scrollHeight)+"px";
					gamesize = window.innerWidth > 750 ? 345 : 545;
				},100);
			}

			var ps_text = document.getElementsByClassName("ps-text");
			var ps_sines = [];
			for(let i = 0; i < 16; i += 2) {
				ps_sines[i] = Math.random()*2*Math.PI;
				ps_sines[i+1] = Math.random()*.001+.0005;
			}

			var dt = null;
			function update(timestamp) {
				if(!dt) dt = timestamp;
				let dtt = timestamp - dt;
				dt = timestamp;

				for(let i = 0; i < 16; i += 8) {
					ps_text[i>4?0:1].style.transform = "translate("+((
						Math.sin(ps_sines[i  ]+timestamp*ps_sines[i+1])+
						Math.sin(ps_sines[i+2]+timestamp*ps_sines[i+3]))*.3)+"%,"+((
						Math.sin(ps_sines[i+4]+timestamp*ps_sines[i+5])+
						Math.sin(ps_sines[i+6]+timestamp*ps_sines[i+7]))*1.5) + "%)";
				}

				fscroll = -document.documentElement.scrollTop*scrollspeed*dtt + fscroll*(1 - scrollspeed*dtt);
				gamesscroll = -document.documentElement.scrollTop*gamesscrollspeed*dtt + gamesscroll*(1 - gamesscrollspeed*dtt);
				scroll = Math.round(fscroll);

				fscroll = -document.documentElement.scrollTop*scrollspeed*dtt + fscroll*(1 - scrollspeed*dtt);
				gamesscroll = -document.documentElement.scrollTop*gamesscrollspeed*dtt + gamesscroll*(1 - gamesscrollspeed*dtt);
				scroll = Math.round(fscroll);

				ctx.clearRect(0, 0, canvas.width, canvas.height);

				let offset = games.length*gamesize;
				if(window.innerWidth <= 1000) offset += bigtitle.scrollHeight;
				if(istimer) offset += 345;
				for(let g = 0; g < games.length; g++) {
					offset -= gamesize;
					switch(g) {
						case 0:
							let grd = ctx.createLinearGradient(0,scroll+offset+gamesize-212,0,scroll+offset+gamesize)
							grd.addColorStop(0, "#FF5C66");
							grd.addColorStop(1, "#be17a7");
							ctx.fillStyle=grd;
							ctx.fillRect(0,scroll+offset-80,canvas.width,gamesize+70);
							break;
						case 1:
							ctx.fillStyle="#710032";
							ctx.fillRect(0,scroll+offset-265,canvas.width,gamesize+195);
							break;
					}
					for(let o = 0; o < games[g].objects.length; o++) {
						let obj = games[g].objects[o];
						let w,h;
						if(obj.hpercent === 0) h = obj.div.height*obj.scale+obj.hoffset;
						else h = gamesize*obj.hpercent+obj.hoffset;
						let y = (gamesize-h)*obj.ypercent+obj.yoffset+offset+scroll;
						if(obj.yscroll !== 0) y += (offset+scroll+(gamesize-70)*.5-canvas.height*.5)/canvas.height*obj.yscroll;
						if(g === 3 && o === 0) y-=gamesize;
						if(y+h > 0 && y < canvas.height) {
							if(obj.wpercent === 0) w = obj.div.width*obj.scale+obj.woffset;
							else w = canvas.width*obj.wpercent+obj.woffset;
							let x = (canvas.width-w)*obj.xpercent+obj.xoffset;
							if(obj.xscroll !== 0) x += (offset+scroll+(gamesize-70)*.5-canvas.height*.5)/canvas.height*obj.xscroll;

							ctx.imageSmoothingEnabled = !obj.pixelated;
							if(obj.blend !== "source-over") ctx.globalCompositeOperation = obj.blend;
							if(g === 3 && o === 1) obj.scale = Math.round((gamesize/362)*obj.div.width)/obj.div.width;
							if(g === 3 && o === 0) {
								if(w/obj.div.width > h/obj.div.height) {
									let s = (w/obj.div.width);
									ctx.drawImage(obj.div,0,(obj.div.height-h/s)*(1-(y+h)/(canvas.height+h)),obj.div.width,h/s,x,y,w,h);
								} else {
									let s = (h/obj.div.height);
									ctx.drawImage(obj.div,(obj.div.width-w/s)*.5,0,w/s,obj.div.height,x,y,w,h);
								}
								let grd = ctx.createRadialGradient(w*.5,h*.5,0,w*.5,h*.5,Math.max(w,h));
								grd.addColorStop(0, "#587F918C");
								grd.addColorStop(1, "#587F9161");
								ctx.fillStyle = grd;
								ctx.fillRect(x,y,w,h);
							} else if(obj.tilex || obj.tiley || obj.crop) {
								if(obj.tfixed) {
									bgx = scroll*obj.xtscroll+dt*obj.xtspeed;
									bgy = scroll*obj.ytscroll+dt*obj.ytspeed-(obj.div.height*obj.scale-h%(obj.div.height*obj.scale));
								} else {
									bgx = ((y+obj.div.height*obj.scale)/(canvas.height+obj.div.height*obj.scale)-obj.xtpercent)*obj.div.width*obj.scale*obj.xtscroll+dt*obj.xtspeed;
									bgy = ((y+h*(1+obj.ytpercent))/(canvas.height+h)-obj.ytpercent)*h*obj.ytscroll+dt*obj.ytspeed-(obj.div.height*obj.scale-h%(obj.div.height*obj.scale));
								}
								if(obj.tilex) {
									if(bgx > 0) bgx = bgx%(obj.div.width*obj.scale)-obj.div.width*obj.scale;
									else if (bgx < 0) bgx = -((-bgx)%(obj.div.width*obj.scale));
								}
								if(obj.tiley) {
									if(bgy > 0) bgy = bgy%(obj.div.height*obj.scale)-obj.div.height*obj.scale;
									else if (bgy < 0) bgy = -((-bgy)%(obj.div.height*obj.scale));
								} else bgy+=obj.div.height*obj.scale;
								for(var px = bgx; px < w; px += obj.tilex ? (obj.div.width*obj.scale) : (w*2-bgx))
								for(var py = bgy; py < h; py += obj.tiley ? (obj.div.height*obj.scale) : (h*2-bgy))
								{
									let ax = obj.tdontcrop === 0 ? 0 : Math.max(-px,0);
									let ay = obj.tdontcrop === 1 ? 0 : Math.max(-py,0);
									let bx = obj.tdontcrop === 2 ? obj.div.width*obj.scale : Math.min(obj.div.width*obj.scale , w - px - ax);
									let by = obj.tdontcrop === 3 ? obj.div.height*obj.scale : Math.min(obj.div.height*obj.scale, h - py - ay);
									ctx.drawImage(obj.div, ax/obj.scale, ay/obj.scale, bx/obj.scale, by/obj.scale, x+Math.max(px,0), y+Math.max(py,0), bx, by);
								}
							} else {
								ctx.drawImage(obj.div,x,y,w,h);
							}
							if(obj.blend !== "source-over") ctx.globalCompositeOperation = "source-over";
						}
					}
				}
				if(istimer) {
					if(window.innerWidth <= 1000) offset = bigtitle.scrollHeight;
					else offset = 0;
					let grd = ctx.createLinearGradient(0,275+scroll+offset,0,345+scroll+offset);
					grd.addColorStop(0,"black");
					grd.addColorStop(1,"transparent");
					ctx.fillStyle = grd;
					ctx.fillRect(0,scroll,canvas.width,345+offset);
				}
				gamesdiv.style.top = (gamesscroll+offset)+"px";

				requestAnimationFrame(update);
			}
		</script>
	</body>
</html>