<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Statistics</title>

		<meta name="theme-color" content="#ffffff">
		<link rel="apple-touch-icon" href="/icons/db152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/db180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/db196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/db192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/icons/db32.png" sizes="32x32">

		<meta name="dcterms.rightsHolder" content="Dream Buster">
		<meta property="og:site_name" content="Dream Buster">
		<meta name="twitter:site" content="Dream Buster">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="Statistics">
		<meta name="twitter:title" content="Statistics">
		<meta property="og:description" content="Dream Buster game statistics.">
		<meta name="twitter:description" content="Dream Buster game statistics.">
		<meta name="description" content="dumb shit mostly.">
		<meta property="og:image" content="<%= assets %>/ogjerry.png">
		<meta name="twitter:image" content="<%= assets %>/ogjerry.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			html, body{
				margin: 0;
				padding: 0;
				width: 100vw;
				height: 100vh;
				overflow: hidden;
				line-height: 0;
				background-color: #fff;
				background-image: url("<%= assets %>/bgjerry.png");
				background-position: center center;
				display: flex;
			}

			::selection {
				color: #333;
				background: #999999fe;
			}

			::-moz-selection {
				color: #333;
				background: #999999fe;
			}

			*::-webkit-scrollbar {
				width: 7px;
			}

			*::-webkit-scrollbar-track {
				background-color: transparent;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #00000080;
				outline: none;
				border-left: 3px solid #AFAFAF;
			}

			#board{
				background-image: url(<%= assets %>/stats.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom center;
				width: 94vmin;
				height: 95vmin;
				margin: auto;
				margin-bottom: 0;
			}

			#content {
				overflow-x: hidden;
				overflow-y: auto;
				width: 86%;
				height: 71%;
				margin-left: 7%;
				margin-top: 27%;
				padding-bottom: 3%;
			}

			h2 {
				margin: 50px 0 9px 2px;
				font-size: 10vmin;
				opacity: .25;
			}

			table {
				height: 20vmin;
				width: 100%;
				border-collapse: collapse;
				font-family: "Futura", "Segoe UI", "Trebuchet MS", "Helvetica", sans-serif;
				font-size: 3vmin;
				text-align: center;
			}

			td,th {
				line-height: 3vmin;
				border: 1px solid #636363;
				font-size: 2.3vmin;
				font-weight: normal;
				color: #262626;
			}

			tr>td:nth-child(2) {
				text-align: left;
			}

			th {
				background-color: #AFAFAF;
				padding: 3px 1px;
				font-style: italic;
			}
			td {
				background-color: #CCC;
				padding: 3px 3px;
			}
			canvas {
				background-color: white;
			}
		</style>
	</head>
	<body>
		<div id="board"><div id="content"></div></div>
		<script src="<%= assets %>/score.js"></script>
		<script>
			let index = ["number","name",".rating",".amount","submissions",".place","percentile"]
			let categories = ["overall","fun","innovation","theme","graphics","audio","humor","mood"]
			let content = document.getElementById("content");
			for(let n = 0; n < categories.length; n++) {
				let title = document.createElement("H2");
				title.innerHTML = categories[n][0].toUpperCase()+categories[n].substring(1);
				content.appendChild(title);
				let table = document.createElement("TABLE");
				content.appendChild(table);
				for(let y = 0; y < dataa.length; y++) {
					let row = table.insertRow();
					for(let x = 0; x < 7; x++) {
						if(index[x] === "percentile")
							row.insertCell().appendChild(document.createTextNode(dataa[y][categories[n]].rating === null ? "???" : (Math.round(dataa[y][categories[n]].place/dataa[y].submissions*1000)/10)));
						else if(resolve(index[x].replace(".",categories[n]+"."),dataa[y]) === null)
							row.insertCell().appendChild(document.createTextNode("???"));
						else
							row.insertCell().appendChild(document.createTextNode(resolve(index[x].replace(".",categories[n]+"."),dataa[y])));
					}
				}
				let thead = table.createTHead();
				let row = thead.insertRow();
				let head = ["#","Name","Rating","Raters","Submissions","Place","Percentile"];
				for(let key of head) {
					let th = document.createElement("th");
					let text = document.createTextNode(key);
					th.appendChild(text);
					row.appendChild(th);
				}
			}

			function resolve(path, obj=self, separator='.') {
				var properties = Array.isArray(path) ? path : path.split(separator)
				return properties.reduce((prev, curr) => prev && prev[curr], obj)
			}
		</script>
	</body>
</html>
