<%- include('../../partials/header',{title:"virtual merch"}) %>
		<link rel=stylesheet href="<%= assets %>/virtual-merch/style.css" type="text/css" media=screen>
	</head>
	<body>
		<a href="/virtual-merch">
			<img src="<%= assets %>/virtual-merch/header.png" id="header"/>
		</a>
		<br />
		<img src="<%= assets %>/virtual-merch/big-cap.png" id="big"/>
		<img src="<%= assets %>/virtual-merch/desc-cap.png" id="desc"/>
		<br />
		<a id="dnld" href="<%= assets %>/virtual-merch/cap.gif?dnld">
			<img src="<%= assets %>/virtual-merch/download.png" id="download"/>
		</a>
		<br />
		<img src="<%= assets %>/virtual-merch/footer.png" id="footer"/>
<%- include('../../partials/footer') %>
