<%- include('../../partials/header',{title:"virtual merch"}) %>
		<link rel=stylesheet href="<%= assets %>/virtual-merch/style.css" type="text/css" media=screen>
		<style>
			#sizechart {
				margin-top: 218px;
				margin-left: 178px;
			}
		</style>
	</head>
	<body>
		<a href="/virtual-merch">
			<img src="<%= assets %>/virtual-merch/header.png" id="header"/>
		</a>
		<br />
		<img src="<%= assets %>/virtual-merch/chart.png" id="sizechart"/>
		<br />
		<img src="<%= assets %>/virtual-merch/footer.png" id="footer"/>
<%- include('../../partials/footer') %>
