<%- include('../partials/header',{title:"unplug"}) %>
		<style>
			#browser {
				width: calc(100vw - 10px);
				height: calc(100vh - 29px);
			}

			.close {
				-webkit-app-region: no-drag;
			}

			#browserheader {
				-webkit-app-region: drag;
				-webkit-user-select: none;
				cursor: url("<%= assets %>/cursors/default.png") 0 0, default !important;
			}
		</style>
		<link rel=StyleSheet href="<%= assets %>/inception/browser.css" type="text/css" media=screen />
		<link rel="prefetch" href="<%= assets %>/window/closed.png" />
	</head>
	<body>
		<div id="browser"><div id="titletext">bulb</div><div id="browserheader"></div><div id="rainbow"></div><div id="topbar"><button id="back" onclick="backk()"><div class="icon"></div></button><button id="front" onclick="frontt()" class="off"><div class="icon"></div></button><div class="insetborder1 input"><input class="insetborder2" id="input" spellcheck="false"></input></div><button id="go" onclick="changeurl()"><div class="icon"></div></button></div><div class="insetborder1 innerbrowser"><iframe class="insetborder2" id="iframe" src="/bulb" onLoad="updateurl(this.contentWindow.location);"></iframe></div><a class="close" href="javascript:void(0)" onclick="closee()"></a></div>
		<script type="text/javascript" src="<%= assets %>/inception/browser.js"></script>
		<script>
			historyy = [""];

			function closee()
			{
				let remota = require('electron').remote;
				let byewin = remota.getGlobal("byeWindow");
				byewin.loadURL("<%= global.protocol + global.domain %>/bye?6660");
				byewin.show();
				remota.getCurrentWindow().close();
			}
		</script>
<%- include('../partials/footer') %>