<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hall of Fame</title>

		<meta name="theme-color" content="#ffffff">
		<link rel="icon" type="image/png" href="<%= assets %>/shortcut-icon.png">
		<link rel="shortcut icon" href="<%= assets %>/shortcut-icon.png">
		<link rel="apple-touch-icon-precomposed" href="<%= assets %>/apple-touch-icon.png">

		<meta name="dcterms.rightsHolder" content="Dream Buster">
		<meta property="og:site_name" content="Dream Buster">
		<meta name="twitter:site" content="Dream Buster">
		<meta property="og:url" content="https://<%= host %>/">
		<meta name="twitter:url" content="https://<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="The Dream Buster Hall of Fame">
		<meta name="twitter:title" content="The Dream Buster Hall of Fame">
		<meta property="og:description" content="dumb shit mostly.">
		<meta name="twitter:description" content="dumb shit mostly.">
		<meta name="description" content="dumb shit mostly.">
		<meta property="og:image" content="<%= assets %>/ogjerry.png">
		<meta name="twitter:image" content="<%= assets %>/ogjerry.png">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			html, body{
				margin: 0;
				padding: 0;
				width: 100vw;
				height: 100vh;
				overflow-y: auto;
				overflow-x: hidden;
				line-height: 0;
				background-color: #fff;
				background-image: url("<%= assets %>/bgjerry.png");
				background-position: center center;
			}

			::selection {
				color: #333;
				background: #999999fe;
			}

			::-moz-selection {
				color: #333;
				background: #999999fe;
			}

			*::-webkit-scrollbar {
				width: 8px;
			}

			*::-webkit-scrollbar-track {
				background-color: transparent;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #000;
				outline: none;
				border-right: 3px solid white;
			}

			audio{
				margin: 50px auto;
				display: block;
				max-width: 90%;
			}

			img{
				margin: 50px auto;
				display: block;
				border: 2px solid #aaa;
				max-width: 90%;
			}

			#title{
				border: none;
				margin: 150px auto;
			}
		</style>
	</head>
	<body>
		<img id="title" src="<%= assets %>/hof.png"/><%
			var re = /(?:\.([^.]+))?$/
			files.forEach(function(item, index, arr) {
				extension = re.exec(item)[1];
				if(extension == "mp3" || extension == "wav" || extension == "ogg")
				{  %>
		<audio src="<%= assets %>/hof/<%= item %>" controls></audio><%
				} else { %>
		<img src="<%= assets %>/hof/<%= item %>" /><%
				}}); %>
	</body>
</html>