<%- include('../partials/header',{title:"bits"}) %>
		<style>
			body {
				background-image: url("<%= assets %>/bits/bg.png");
			}

			.windowwrap {
				position: fixed;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
			}

			.window {
				background-repeat: no-repeat;
				background-position: center;
				position: fixed;
				width: 126px;
				height: 145px;
				background-image: url("<%= assets %>/unplug/object.png");
				position: relative;
			}

			.close {
				margin: 5px 5px 0 calc(100% - 21px);
				width: 16px;
				height: 14px;
				position: absolute;
				background-image: url("<%= assets %>/window/close.png");
			}

			.close:active {
				background-image: url("<%= assets %>/window/closed.png");
			}

			.bg {
				width: 120px;
				height: 120px;
				position: relative;
				top: 0;
				left: 0;
				top: 22px;
				left: 3px;
			}

			.object {
				width: 100px;
				height: 100px;
				position: relative;
				bottom: 88px;
				left: 13px;
			}

			.windowwrap:first-child {
				display: none;
			}
		</style>
		<link rel="prefetch" href="<%= assets %>/window/closed.png" />
	</head>
	<body id="body">
		<div class="windowwrap">
			<div class="window" style="">
				<a class="close" href="javascript:void(0)" onclick="closee(this.parentNode)"></a>
				<div class="bg" style=""></div>
				<div class="object" style=""></div>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/window/movable.js?v=2"></script>
		<script type="text/javascript">
			var anim = 0;
			var wins = 1;
			var windowsss = document.getElementsByClassName("windowwrap")[0];

			var cloneshit = setInterval(function()
			{
				if(wins++ >= 20) clearInterval(cloneshit);
				var clone = windowsss.cloneNode(true);
				var child = clone.getElementsByClassName("window")[0];
				document.body.appendChild(clone);
				dothing(child);
				dragElement(clone, child, true);
			}, 50);

			function closee(obj)
			{
				dothing(obj);
				obj.style.WebkitMaskImage = "url(\"<%= assets %>/bits/transition.gif?" + anim++ + "\")";
			}

			function dothing(obj)
			{
				obj.style.top = "calc(" + Math.random()*100 + "vh - 72px)";
				obj.style.left = "calc(" + Math.random()*100 + "vw - 63px)";

				var bg = obj.querySelectorAll(".bg")[0];
				var ob = obj.querySelectorAll(".object")[0];

				var bgn = Math.floor(Math.random()*10);
				var obn = Math.floor(Math.random()*10);
				var color = Math.floor(Math.random()*3);

				if(bgn === 0)
				{
					bg.style.backgroundColor = "hsl(" + Math.floor(Math.random()*360) + "," + Math.floor(Math.random()*50 + 10) + "%," + Math.floor(Math.random()*20 + 10) + "%)";
					bg.style.backgroundImage = "none";
					bg.style.filter = "none";
				}
				else
				{
					bg.style.backgroundImage = "url(\"<%= assets %>/objects/b" + bgn + ".png\")";
					bg.style.filter = "saturate(" + ((Math.random()*50 + 50)*Math.min(color,1)) + "%) hue-rotate(" + Math.random() + "turn)";
				}
				ob.style.backgroundImage = "url(\"<%= assets %>/objects/a" + obn + ".gif\")";
				ob.style.filter = "saturate(" + ((Math.random()*50 + 50)*Math.min(2 - color,1)) + "%) hue-rotate(" + Math.random() + "turn)";
			}
		</script>
<%- include('../partials/footer') %>