<%- include('../partials/header',{title:"crisis"}) %>
		<style>
			#mainimage {
				margin-top: calc(50vh - 81px);
				margin-left: calc(50vw - 81px);
				width: 162px;
				height: 162px;
				background-image: url("<%= assets %>/crisis/delete.png");
				display: block;
			}

			#txt {
				position: absolute;
				margin-left: -67px;
				margin-top: -7px;
			}
		</style>
	</head>
	<body>
		<a href="/vanilli" id="mainimage" title="bye lol"></a>
		<img id="txt" src="<%= assets %>/crisis/existential.gif"/>
		<script>
			var txt = document.getElementById("txt");
			var toggle = false;

			function bleh()
			{
				txt.src = toggle == false ? "<%= assets %>/crisis/existential.gif" : "<%= assets %>/crisis/crisis.gif";
				txt.style.top = (Math.random()*100) + "vh";
				txt.style.left = (Math.random()*100) + "vw";
				toggle = !toggle;
			}

			setInterval(bleh, 1000);
			bleh();
		</script>
<%- include('../partials/footer') %>
