<%- include('../partials/header',{title:"vanilli"}) %>
		<style>
			body {
				background-image: url(<%= assets %>/vanilli/1.png), url(<%= assets %>/vanilli/2.png), url(<%= assets %>/vanilli/girlyouknowits.png);
				background-position: bottom right;
				background-repeat: no-repeat, repeat, repeat;
			}

			#disc {
				background-image: url(<%= assets %>/objects/a9.gif);
				position: fixed;
				width: 100px;
				height: 100px;
				bottom: 60px;
				right: 60px;
			}
		</style>
	</head>
	<body>
		<a id="disc" title="8ball" href="/8ball"></a>
	</body>
</html>
