<%- include('../partials/header',{title:"hands",color:"#F4F4F4"}) %>
		<style>
			body{
				background-color: #F4F4F4;
				background-image: url("<%= assets %>/hands/bg.png");
				background-repeat: repeat;
			}
			.hand {
				display: block;
				position: absolute;
			}
			.innerhand {
				width: 100%;
				height: 100%;
				opacity: 0;
				display: flex;
			}
			.innerhand:hover {
				opacity: 1;
			}

			#hand0 {
				top: calc(40vh - 147px);
				left: calc(20vw - 221px);
				width: 331px;
				height: 179px;
				background-image: url("<%= assets %>/hands/0.png");
				transform: rotate(2.6822deg);
			}
			#hand0>.innerhand {
				background-image: url("<%= assets %>/hands/0h.png");
			}

			#hand1 {
				top: calc(90vh - 126px);
				left: calc(40vw - 202px);
				width: 328px;
				height: 167px;
				background-image: url("<%= assets %>/hands/1.png");
				transform: rotate(-22.9963deg);
			}
			#hand1>.innerhand {
				background-image: url("<%= assets %>/hands/1h.png");
			}

			#hand2 {
				top: calc(20vh - 98px);
				left: calc(80vw - 149px);
				width: 202px;
				height: 82px;
				background-image: url("<%= assets %>/hands/2.png");
				transform: rotate(160.276deg);
			}
			#hand2>.innerhand {
				background-image: url("<%= assets %>/hands/2h.png");
			}

			#hand3 {
				top: calc(43vh - 80px);
				left: calc(64vw - 151px);
				width: 199px;
				height: 90px;
				background-image: url("<%= assets %>/hands/3.png");
				transform: rotate(166.631deg);
			}
			#hand3>.innerhand {
				background-image: url("<%= assets %>/hands/3h.png");
			}

			#hand4 {
				top: calc(79vh - 75px);
				left: calc(83vw - 153px);
				width: 201px;
				height: 86px;
				background-image: url("<%= assets %>/hands/4.png");
				transform: rotate(-174.517deg);
			}
			#hand4>.innerhand {
				background-image: url("<%= assets %>/hands/4h.png");
			}

			@media screen and (orientation: portrait) {
				#hand0 {
					top: calc(80vh - 147px);
					left: calc(40vw - 221px);
					transform: rotate(272.6822deg);
				}

				#hand1 {
					top: calc(60vh - 126px);
					left: calc(90vw - 202px);
					transform: rotate(247.0037deg);
				}

				#hand2 {
					top: calc(20vh - 98px);
					left: calc(20vw - 149px);
					transform: rotate(70.276deg);
				}

				#hand3 {
					top: calc(36vh - 80px);
					left: calc(43vw - 151px);
					transform: rotate(76.631deg);
				}

				#hand4 {
					top: calc(17vh - 75px);
					left: calc(79vw - 153px);
					transform: rotate(95.483deg);
				}
			}
		</style>
	</head>
	<body>
		<div id="hand0" class="hand" title="tinker">
			<a class="innerhand" href="/square" onmouseover="hoverstat(0, true)" onmouseout="hoverstat(0, false)"></a>
		</div>
		<div id="hand1" class="hand" title="tailor">
			<a class="innerhand" href="/fuck" onmouseover="hoverstat(1, true)" onmouseout="hoverstat(1, false)"></a>
		</div>
		<div id="hand2" class="hand" title="sinker">
			<a class="innerhand" href="/lion" onmouseover="hoverstat(2, true)" onmouseout="hoverstat(2, false)"></a>
		</div>
		<div id="hand3" class="hand" title="sailor">
			<a class="innerhand" href="/glow" onmouseover="hoverstat(3, true)" onmouseout="hoverstat(3, false)"></a>
		</div>
		<div id="hand4" class="hand" title="thief">
			<a class="innerhand" href="/snow" onmouseover="hoverstat(4, true)" onmouseout="hoverstat(4, false)"></a>
		</div>
		<script>
			var pivots = document.getElementsByClassName("hand");
			var cursorX = -6666, cursorY;
			document.onmousemove = function(e) {
				if(cursorX === -6666) setInterval(timer, 20);
				cursorX = e.pageX;
				cursorY = e.pageY;
			}
			var hovers = [false,false,false,false,false];
			function hoverstat(index, value) {
				hovers[index] = value;
			}
			var positions = [0,0,0,0,0];
			function recalc() {
				for(var i = 0; i < pivots.length; i++)
					positions[i] = pivots[i].getBoundingClientRect();
			}
			var rotations = [0,0,0,0,0];
			window.onload = function() {
				for(var i = 0; i < pivots.length; i++)
				{
					let values = window.getComputedStyle(pivots[i]).getPropertyValue('transform').split('(')[1].split(')')[0].split(',');
					rotations[i] = Math.atan2(values[1], values[0])*(180/Math.PI);
				}
				recalc();
			}
			window.onresize = recalc;

			function timer() {
				let targetrot = 0;
				for(var i = 0; i < pivots.length; i++) {
					if(hovers[i]) targetrot = rotations[i] + 4;
					else targetrot = 180*Math.atan2(cursorY - (positions[i].top + positions[i].height*.5), cursorX - (positions[i].left + positions[i].width*.5))/Math.PI;
					rotations[i] = lerp360(rotations[i], targetrot, .8)%360;
					pivots[i].style.transform = "rotate(" + rotations[i] + "deg)";
				}
			}
			function lerp360(a,b,c) {
				if(Math.abs(b - a) > Math.abs(b - (a - 360))) a -= 360;
				if(Math.abs(a - b) > Math.abs(a - (b - 360))) b -= 360;
				return (a * c) + (b * (1 - c));
			}
		</script>
<%- include('../partials/footer') %>