<%
var single = false;
var title = "Unplugred's VST Trove";
var desc = "wow truly amazing";
var css;
var og = null;
switch(pagename) {
	case '/plastic-funeral':
		single = true;
		title = "Plastic Funeral VST";
		desc = "Distortion/saturation that sounds like a laser beam";
		css = assets + "/pf/stylesheet.css";
		og = assets + "/pf/og.png?v=2";
		break;
	case '/vu':
		single = true;
		title = "VU Meter VST";
		desc = "a VU meter for your VU metering needs";
		css = assets + "/vu/stylesheet.css";
		og = assets + "/vu/og.png";
		break;
	case '/clickbox':
		single = true;
		title = "ClickBox VST";
		desc = "a VST that generates clicks";
		css = assets + "/cb/stylesheet.css";
		og = assets + "/cb/og.png";
		break;
}
%><html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>

		<link rel="apple-touch-icon" href="/icons/vst152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/vst180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/vst196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/vst32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/vst192.png" sizes="192x192">

		<meta name="theme-color" content="#B76673">
		<meta name="dcterms.rightsHolder" content="Ari Hanan">
		<meta name="og:site" content="Unplugred's VST Trove">
		<meta name="twitter:site" content="@unplugred">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:title" content="<%= title %>">
		<meta name="twitter:title" content="<%= title %>">
		<meta property="og:description" content="<%= desc %>">
		<meta name="twitter:description" content="<%= desc %>">
		<meta name="description" content="<%= desc %>">
		<meta property="og:type" content="article"><%
if(!single || og === null) { %>
		<meta name="twitter:card" content="summary">
		<meta property="og:image" content="<%= unplugassets %>/objects/c10.gif">
		<meta name="twitter:image" content="<%= unplugassets %>/objects/c10.gif"><%
} else { %>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:image" content="<%= og %>">
		<meta name="twitter:image" content="<%= og %>"><%
} %>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel=StyleSheet href="<%= unplugassets %>/window/window.css?v=4" type="text/css" media=screen>
		<link rel=StyleSheet href="/stylesheet.css?v=7" type="text/css" media=screen><%
if(single) { %>
		<link rel=StyleSheet href="<%= css %>" type="text/css" media=screen><%
} else { %>
		<link rel=StyleSheet href="<%= assets %>/about/stylesheet.css" type="text/css" media=screen>
		<link rel=StyleSheet href="<%= assets %>/cb/stylesheet.css" type="text/css" media=screen>
		<link rel=StyleSheet href="<%= assets %>/vu/stylesheet.css" type="text/css" media=screen>
		<link rel=StyleSheet href="<%= assets %>/pf/stylesheet.css" type="text/css" media=screen><%
} %>
		<style>.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}</style>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap" rel="stylesheet">
	</head><%
if(single) { %>
	<body class="single" id="single-<%= pagename.substring(1) %>">
		<a href="/" id="homepage"></a>

<%- include(pagename.substring(1)) %><%
} else { %>
	<body id="multi">

		<div class="section" id="about">
			<div class="tint" style="background-color: #c99c9c"></div>
			<div class="desc">
				<div class="invert"></div>
				<div class="decoration" id="note"></div>
				<div class="title">Welcome to my personal vst hell</div>
				<div class="description">
i was bored so i made these, and now<br/>
you too can enjoy them!<br/>
also <a href="https://laulaulau.bandcamp.com/album/time-is-not-an-issue">check out this up and coming artist</a><br/>
INQUIRIES:<br/>
discord (red#3510), email (unplugred@gmail.com)
				</div>
			</div>
		</div>
		<div class="rainbow"></div>

<%- include('clickbox') %>		<div class="rainbow"></div>
<%- include('vu') %>		<div class="rainbow"></div>
<%- include('plastic-funeral') %>		<div class="rainbow"></div>

		<div class="section" id="comingsoon">
			<div class="tint" style="background-color: #c99c9c"></div>
		</div>
<% } %>
		<div id="popups">
			<div class="popupwrap" id="popuptext">
				<div class="popup">
					<a class="popupclosewrap" href="javascript:void(0)" onclick="closetext()">
						<div class="popupclose"></div>
					</a>
					<div class="popupdesc" id="popuptextdesc"></div>
				</div>
			</div>
			<div class="popupwrap" id="popupaudio">
				<div class="popup">
					<a class="popupclosewrap" onclick="closeaudio()">
						<div class="popupclose"></div>
					</a>
					<div class="popupdesc" id="popupaudiodesc"></div>
					<audio controls controlslist="nodownload" id="popupplayer"></audio>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/popups.js"></script>

	</body>
</html>
