<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Unplugred's VST Trove</title>

		<link rel="apple-touch-icon" href="/icons/vst152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/vst180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/vst196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/vst192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/icons/vst32.png" sizes="32x32">

		<meta name="theme-color" content="#B76673">
		<meta name="dcterms.rightsHolder" content="Ari Hanan">
		<meta name="twitter:site" content="@unplugred">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary">
		<meta property="og:title" content="Unplugred's VST Trove">
		<meta name="twitter:title" content="Unplugred's VST Trove">
		<meta property="og:description" content="wow truly amazing">
		<meta name="twitter:description" content="wow truly amazing">
		<meta name="description" content="wow truly amazing">
		<meta property="og:image" content="<%= assets %>/icons/og.gif">
		<meta name="twitter:image" content="<%= assets %>/icons/og.gif">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel=StyleSheet href="/stylesheet.css" type="text/css" media=screen>
		<link rel=StyleSheet href="<%= unplugassets %>/window/window.css?v=3" type="text/css" media=screen>
		<style>.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}</style>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap" rel="stylesheet">
	</head>
<% if(pagename == "/plastic-funeral") { %>	<body class="single" id="single-<%= pagename.substring(1) %>">
		<a href="/" id="homepage"></a>

<%- include(pagename.substring(1)) %>
	</body><% } else { %>	<body id="multi">

		<div class="section" id="about">
			<div class="tint" style="background-color: #c99c9c"></div>
			<div class="desc">
				<div class="invert"></div>
				<div class="decoration" id="note"></div>
				<div class="title">Welcome to my personal vst hell</div>
				<div class="description">
i was bored so i made these, and now
you too can enjoy them!<br/>
and by them i mean that, cause theres only one of them for now.<br/>
do visit later though since i have some neat ideas
				</div>
			</div>
		</div>
		<div class="rainbow"></div>

<%- include('plastic-funeral') %>		<div class="rainbow"></div>

		<div class="section" id="comingsoon">
			<div class="tint" style="background-color: #c99c9c"></div>
		</div>

	</body><% } %>
</html>
