<%
var currentselected = 0;
var title = "Unplugred's Plugin Trove";
var ogtitle = title;
for(let i = 0; i < vsts.length; i++) {
	if(pagename.toLowerCase().endsWith(vsts[i].title.replace(/\s/g,"").toLowerCase())) {
		currentselected = i;
		ogtitle = vsts[currentselected].title;
		if(vsts[currentselected].ui === undefined) ogtitle += " - Unplugred's Plugin Trove";
		else title = vsts[currentselected].title;
	}
}
%><html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<link rel="apple-touch-icon" href="/icons/vst152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/vst180.png" sizes="180x180">
		<link rel="shortcut icon" href="/icons/vst196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/vst32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/vst192.png" sizes="192x192">

		<meta name="theme-color" content="#B76673">
		<meta name="dcterms.rightsHolder" content="Ari Hanan">
		<meta name="og:site" content="Unplugred's VST Trove">
		<meta name="twitter:site" content="@unplugred">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:title" content="<%- ogtitle %>">
		<meta name="twitter:title" content="<%- ogtitle %>"><%
	if(vsts[currentselected].tagline !== undefined) { %>
		<meta property="og:description" content="<%- vsts[currentselected].tagline %>">
		<meta name="twitter:description" content="<%- vsts[currentselected].tagline %>">
		<meta name="description" content="<%= vsts[currentselected].tagline %>"><%
	 } else { %>
		<meta property="og:description" content="audio plugins vst format very cool">
		<meta name="twitter:description" content="audio plugins vst format very cool">
		<meta name="description" content="audio plugins vst format very cool"><%
	 } %>
		<meta property="og:type" content="article"><%
	if(vsts[currentselected].color === "teal") { %>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:image" content="<%= assets %>/<%= vsts[currentselected].id %>/og.png">
		<meta name="twitter:image" content="<%= assets %>/<%= vsts[currentselected].id %>/og.png"><%
	} else { %>
		<meta name="twitter:card" content="summary">
		<meta property="og:image" content="<%= unplugassets %>/objects/c10.gif">
		<meta name="twitter:image" content="<%= unplugassets %>/objects/c10.gif"><%
	} %>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=StyleSheet href="<%= assets %>/stylesheet.css?v=12" type="text/css" media=screen><%
	for(let i = 0; i < vsts.length; i++) if(vsts[i].decoration !== undefined) { %>
		<link rel="prefetch" href="<%= assets %>/<%= vsts[i].id %>/gif.webp" /><%
	} %>
	</head>
	<body class="<%= vsts[currentselected].id %>">
		<div id="bg">
			<svg id="diagonal">
				<line x1='0' y1='100%' x2='100%' y2='0'/>
				<line x1='0' y1='0' x2='100%' y2='100%'/>
			</svg>
			<div id="circle"></div>
			<div id="testpattern"></div>
			<div id="whitegradient"></div>
			<div id="rainbow" style="background-position-y: <%= (currentselected*-50)/vsts.length %>vh"></div>
			<div id="dots">
				<div id="dotc" class="dot"></div><div id="doty" class="dot"></div><div id="dotm" class="dot"></div><div id="dotk" class="dot"></div>
			</div>
		</div>

		<div id="content">
			<div id="contentwrap">
				<div id="left" class="section">
					<div id="leftscroll">
						<div id="leftwrap"></div>
					</div>
					<div id="leftclip"></div>
				</div>
				<div id="center" class="section">
					<a id="back" href="javascript:void(0)" onclick="back()"></a>
					<div id="infowrap" class="win-wrap">
						<div id="info" class="win-pos <%= vsts[currentselected].color %><% if(vsts[currentselected].decoration === undefined) { %> winhasicon<% } %>">
							<div class="windowbgwrap">
								<div class="windowbg windowbox"></div>
								<div class="windowbg tab"></div>
								<svg class="line"><line x1='0' y1='0' x2='20px' y2='20.4px'/></svg>
							</div>
							<div id="winicon"<% if(vsts[currentselected].decoration === undefined) { %> style='background-image: url("/<%= vsts[currentselected].id %>/icon.svg")'<% } %>></div>
							<div class="windowcontent">
								<img id="gif" <% if(vsts[currentselected].decoration === undefined) { %>style="display: none"<% } else { %>src="/<%= vsts[currentselected].id %>/gif.webp"<% } %>/>
								<div id="title"><%= vsts[currentselected].title %></div>
								<div id="desc"><%- vsts[currentselected].description %></div>
								<center<% if((vsts[currentselected].comingsoon === undefined || !vsts[currentselected].comingsoon) && vsts[currentselected].price === undefined && vsts[currentselected].freedownload === undefined) { %> style="display: none"<% } %>>
									<a id="paiddownload" class="download" target="_<% if(vsts[currentselected].comingsoon !== undefined && vsts[currentselected].comingsoon) { %>self" href="javascript:void(0)">Coming Soon!<% } else if(vsts[currentselected].paiddownload === undefined) { %>blank" href="javascript:void(0)" style="display: none"><% } else { %>blank" href="<%= vsts[currentselected].paiddownload.url %>">Download <%= vsts[currentselected].paiddownload.price %>$ Version<% } %></a><br/>
									<a id="freedownload" class="download" target="_blank" href="<% if((vsts[currentselected].comingsoon === undefined || !vsts[currentselected].comingsoon) && vsts[currentselected].freedownload !== undefined) { %><%= vsts[currentselected].freedownload.url %><% } else { %>javascript:void(0)" style="display: none<% } %>">Download Free Version</a>
								</center>
							</div>
						</div>
					</div>
				</div>
				<div id="right" class="section">
					<div id="uiwrap">
						<div id="uishadow"<% if(vsts[currentselected].ui === undefined) { %> style="display: none"<% } %>"></div>
						<div id="ui" style=<% if(vsts[currentselected].ui === undefined) { %>"display: none"<% } else { %>'background: url("/<%= vsts[currentselected].id %>/ui.webp"), black'<% } %>></div>
					</div>
					<div id="logoclip"><div id="pluginlogo"><div id="pluginlogo1" style='background-image: url("/<%= vsts[currentselected].id %>/text.webp")'></div><div id="pluginlogo2" style='background-image: url("/<%= vsts[currentselected].id %>/text.webp")'></div></div>
					<div id="blurredtext"><div id="blurredtext1">UnplugRed</div><div id="blurredtext2">UnplugRed</div></div></div>
					<div id="note">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
							<defs>
								<path id="rotatingtextpath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
							</defs>
							<circle cx="150" cy="100" r="75" fill="none"/>
							<g>
								<use xlink:href="#rotatingtextpath" fill="none"/>
								<text fill="#000">
									<textPath xlink:href="#rotatingtextpath">UnplugRed's VST Trove  UnplugRed's VST Trove</textPath>
								</text>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<div id="popups">
			<div id="popuptext" class="win-wrap" style="z-index: 20000; display: none">
				<div class="popup win-pos green">
					<div class="windowbgwrap">
						<div class="windowbg windowbox"></div>
						<div class="windowbg tab"></div>
						<svg class="line"><line x1='0' y1='0' x2='20px' y2='20.4px'/></svg>
					</div>
					<div class="windowcontent">
						<div class="popupdesc"></div>
					</div>
					<a class="popupclose" href="javascript:void(0)" onclick="setpopup(0)">
						<div class="popupclosewrap">
							<div class="popupline1 popupline"></div>
							<div class="popupline2 popupline"></div>
						</div>
					</a>
				</div>
			</div>
			<div id="popupmedia" class="win-wrap" style="z-index: 30000; display: none;">
				<div class="popup win-pos green">
					<div class="windowbgwrap">
						<div class="windowbg windowbox"></div>
						<div class="windowbg tab"></div>
						<svg class="line"><line x1='0' y1='0' x2='20px' y2='20.4px'/></svg>
					</div>
					<div class="windowcontent">
						<div class="popupdesc"></div>
						<iframe class="popupvideoplayer" style="display: none" src="about:blank" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<audio class="popupaudioplayer" style="display: none" controls controlslist="nodownload"></audio>
					</div>
					<a class="popupclose" href="javascript:void(0)" onclick="setpopup(1)">
						<div class="popupclosewrap">
							<div class="popupline1 popupline"></div>
							<div class="popupline2 popupline"></div>
						</div>
					</a>
				</div>
			</div>
			<div id="popupeveryweek" class="win-wrap" style="z-index: 30000; display: none;">
				<div style="top: calc(-88px + 88vh); left: 50vw;" class="popup win-pos green">
					<div class="windowbgwrap">
						<div class="windowbg windowbox"></div>
						<div class="windowbg tab"></div>
						<svg class="line"><line x1='0' y1='0' x2='20px' y2='20.4px'/></svg>
					</div>
					<div class="windowcontent">
						<div class="popupdesc"></div>
					</div>
					<a class="popupclose" href="javascript:void(0)" onclick="setpopup(2)">
						<div class="popupclosewrap">
							<div class="popupline1 popupline"></div>
							<div class="popupline2 popupline"></div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="<%= unplugassets %>/window/movable.js"></script>
		<script type="text/javascript" src="<%= unplugassets %>/automatism/simplex.js"></script>
		<script type="text/javascript" src="/vsts.js?v=14"></script>
		<script type="text/javascript" src="/javascript.js?v=6"></script>
	</body>
</html>
