<%- include('../partials/header',{title:"404",description:"you got lost."}) %>
		<link rel=StyleSheet href="<%= assets %>/window/window.css?v=4" type="text/css" media=screen>
		<style>
			.win-frame{filter:hue-rotate(<%=Math.random()%>turn);}

			/* 404 window */
			#win-404 {
				width: 405px;
				height: 275px;
				top: calc(45vh - 230px);
				left: calc(34vw - 194px);
			}
			#win-404 .win-inner {
				background-image: url("<%= assets %>/404/404.png");
			}

			/* lost window */
			#win-lost {
				width: 102px;
				height: 382px;
				top: calc(45vh - 110px);
				left: calc(34vw + 137px);
			}
			#win-lost .win-inner {
				background-image: url("<%= assets %>/404/lost.png");
			}
			#win-lost-back {
				left: 4px;
				top: 3px;
				width: 89px;
				height: 190px;
				display: block;
				position: absolute;
			}
			#win-lost-back:hover {
				background-image: url("<%= assets %>/404/back.png");
			}

			/* elian window */
			#win-elian {
				width: 385px;
				height: 130px;
				top: calc(45vh - 100px);
				left: calc(34vw - 177px);
			}
			#win-elian .win-inner {
				background-image: url("<%= assets %>/404/elian.png");
			}

			#vid {
				height: 100vh;
			}

			.santa{
				width: 100px;
				height: 100px;
				background-image: url("<%= assets %>/objects/a2.gif");
				position: fixed;
				bottom: 20px;
				right: 20px;
			}
		</style>
		<link rel="prefetch" href="<%= assets %>/window/loading.png" />
		<link rel="prefetch" href="<%= assets %>/404/back.png" />
	</head>
	<body>
		<video id="vid" autoplay muted loop>
			<source src="<%= assets %>/404/bg.webm" type="video/webm">
		</video>

		<div class="win-wrap">
			<div id="win-elian" class="win-pos">
				<div class="win-frame">
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner"></div>
			</div>
		</div>

		<div class="win-wrap">
			<div id="win-404" class="win-pos">
				<div class="win-frame">
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner"></div>
			</div>
		</div>

		<div class="win-wrap">
			<div id="win-lost" class="win-pos">
				<div class="win-frame">
					<a class="win-close" href="javascript:void(0)" onclick="closee(this.parentNode.parentNode)"></a>
				</div>
				<div class="win-inner">
					<a id="win-lost-back" href="<%= global.protocol + global.domain %>/"></a>
				</div>
			</div>
		</div>

		<a href="<%= global.protocol + global.domain %>/santa" class="santa" title="santa"></a>
		<script type="text/javascript" src="<%= assets %>/window/movable.js"></script>
		<script>
			if (window.top !== window.self)
				document.getElementById("win-lost-back").href = "/unplug";

			var x = document.getElementsByClassName("win-pos");
			for (var i = 0; i < x.length; i++) {
				dragElement(x[i].parentNode, x[i]);
			}

			function closee(obj)
			{
				obj.style.display = "none";
			}
		</script>
<%- include('../partials/footer') %>