<%- include('../partials/header',{title:properties.title,css:false}) %>
<% function randomnum() {
	return Math.floor(Math.random()*10);
} %>
		<style>
			.size {
				text-align: right;
			}
			td.icon {
				padding: 1px;
			}
			td {
				padding: 1px 8px;
			}
			address {
				margin-bottom: 50px;
			}
			.playing {
				color: #EE0000;
			}
			.disco {
				animation: anim 2s linear infinite;
				will-change: auto;
			}
			@keyframes anim{
				0%  { color: #FF0000; }
				17% { color: #FFFF00; }
				33% { color: #00FF00; }
				50% { color: #00FFFF; }
				67% { color: #0000FF; }
				83% { color: #FF00FF; }
				100%{ color: #FF0000; }
			}
			.dot {
				width: 2px;
				height: 2px;
				background-color: #3664ee;
				border-radius: 100%;
				margin-left: 2px;
				display: inline-block;
				position: relative;
				transition: width 2s, height 2s;
			}
			#dotlink {
				display: inline;
				left: -11px;
				position: relative;
				transition: left 2s;
			}
			.rainbow {
				background-image: url("<%= assets %>/inception/glitch.png");
				height: 15px;
				position: relative;
				top: 3px;
				display: inline-block;
			}<%
		if(properties.audio) {%>
			#player {
				width: calc(100% - 18px);
				position: fixed;
				bottom: 5px;
				left: 5px;
			}<% }
		if(properties.text) {%>
			#text-popup {
				background-color: #fefbf0;
				border: solid 1px #808080;
				color: black;
				font-family: tahoma8, Tahoma, sans-serif;
				font-size: 16px;
				padding: 5px 9px 6px 9px;
				display: inline-block;
				text-decoration: none;
			}
			#text-wrap {
				border: solid 1px black;
				z-index: 100;
				position: absolute;
				left: 52px;
				top: -1000px;
			}
			#text-shadow {
				position: relative;
				z-index: -1;
				top: 7px;
				left: 7px;
				margin-left: -1px;
				background-image: url("<%= assets %>/apache/textpopup.png");
			}
			@font-face {
				font-family: 'tahoma8';
				font-style: normal;
				font-weight: 500;
				font-display: swap;
				-webkit-font-smoothing : none;
				font-smooth: never;
				src: url("<%= assets %>/window/tahoma8.woff2") format('woff2');
			}<% } %>
		</style><%
	if(properties.audio) {%>
		<link rel="StyleSheet" type="text/css" href="<%= assets %>/player/player.css?v=6"><% } %>
	</head>
	<body>
		<h1>Index of <%= properties.dir %></h1>
		<table>
			<tr>
				<th></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Name</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Last modified</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Size</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Description</a></th>
			</tr>
			<tr>
				<th colspan="5"><hr></th>
			</tr>
			<tr>
				<td class="icon"><img src="<%= assets %>/apache/back.gif" alt="[PARENTDIR]"></td>
				<td class="name"><a href="javascript:void(0);" onclick="sineifydot(this)"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div id="dotlink">&puncsp;&puncsp;&puncsp;</div></a></td>
				<td class="date"></td>
				<td class="size">-</td>
				<td class="desc"></td>
			</tr><%
			files.forEach(function(item,index,arr){%>
			<tr><%
switch(item.type) {
	case "SND": %>
				<td class="icon"><img src="<%= assets %>/apache/sound.gif" alt="[SND]"></td>
				<td class="name"><a href="javascript:void(0);" onclick="p_playsong(this,'<%= item.mp3 %>',<%= item.flac==""?-1:("'"+item.flac+"'") %>)"><%= item.name %></a></td><%
		break;
	case "TXT": %>
				<td class="icon"><img src="<%= assets %>/apache/text.gif" alt="[TXT]"></td>
				<td class="name"><a href="javascript:void(0);" onclick="t_puttext(this,&quot;<%= item.content %>&quot;)"><%= item.name %></a></td><%
		break;
	default: %>
				<td class="icon"><img src="<%= assets %>/apache/unknown.gif" alt="[SND]"></td>
				<td class="name"><a href="<%= item.path %>"><%= item.name %></a></td><%
		break;
}%>
				<td class="date"><%= item.date+" "+randomnum()+randomnum()+":"+randomnum()+randomnum() %></td>
				<td class="size"><%= item.size %></td>
				<td class="desc"><%= item.desc %></td>
			</tr><%});%>
			<tr>
				<th colspan="5"><hr></th>
			</tr>
		</table>
		<address>Apache/6.6.6 Server at <div class="rainbow" style="width:75px;background-position-x:141px;"></div> Port <div class="rainbow" style="width:25px;background-position-x:30px;"></div>.</address><%
		if(properties.audio) {%>
		<div id="player" class="player-border" style="display: none;">
			<a href="javascript:void(0);" class="player-button" id="player-play" onclick="p_play()">
				<div class="player-icon"></div>
			</a>
			<a href="javascript:void(0);" class="player-button" id="player-download" onclick="p_download()">
				<div class="player-icon"></div>
			</a>
			<div id="player-downloadmenu" class="player-border" style="display: none">
				<a id="player-flac" class="player-downloadmenuitem" onclick="p_download()" target="_blank">Download .flac</a>
				<a id="player-mp3" class="player-downloadmenuitem" onclick="p_download()" target="_blank">Download .mp3</a>
			</div>
			<div id="player-divider"></div>
			<div id="player-timecode"><div class="player-digit" style="display: none;"></div><div class="player-digit">-</div>:<div class="player-digit">-</div><div class="player-digit">-</div>/<div class="player-digit" style="display: none;"></div><div class="player-digit">-</div>:<div class="player-digit">-</div><div class="player-digit">-</div></div>
			<div id="player-bar">
				<a href="javascript:void(0);" id="player-bardrag" onmousedown="p_seekclick(event)" onmousemove="p_seek(event)" onmouseup="p_seekrelease(event)" onmouseleave="p_seekrelease(event)" ondragstart="return false;" ondrop="return false;">
					<div id="player-barknob" style="left: 0%"></div>
				</a>
			</div>
			<div id="player-volume">
				<div id="player-volumeicon" style="background-image:url('<%= assets %>/player/loudness-3.png');"></div>
				<a href="javascript:void(0);" id="player-volumedrag" onmousedown="p_volume(event)" onmousemove="p_volume(event)" ondragstart="return false;" ondrop="return false;">
					<div id="player-volumeknob" style="left: 50%"></div>
				</a>
			</div>
		</div>
		<script type="text/javascript" src="<%= assets %>/player/player.js?v=5"></script><% }
		if(properties.text) { %>
		<div id="text-wrap">
			<a href="javascript:void(0);" onclick="t_removetext()" id="text-popup">a</a>
			<div id="text-shadow"></div>
		</div>
		<script>
			var t_popup = document.getElementById("text-wrap");
			var t_shadow = document.getElementById("text-shadow");
			var t_inner = document.getElementById("text-popup");
			var t_interval;
			var t_unsaid;
			if(typeof p_divplayer === 'undefined')
				var p_currentdiv = -1;

			function t_puttext(div, content) {
				if(div === p_currentdiv) return;

				t_inner.innerHTML = "&rlm;";
				t_unsaid = content;

				clearInterval(t_interval);
				t_interval = setInterval(t_visify, 80);

				t_updateshadow();

				t_popup.style.display = "inline-block";
				let recs = div.getClientRects()[0];
				t_popup.style.top = Math.round(recs.y + recs.height + document.documentElement.scrollTop - 4) + "px";

				if(p_currentdiv !== -1)
					p_currentdiv.className = "";
				div.className = "playing";
				p_currentdiv = div;

				if(typeof p_divplayer !== 'undefined')
					p_divplayer.style.display = "none";
			}

			function t_removetext() {
				t_popup.style.display = "none";
				if(p_currentdiv !== -1) {
					p_currentdiv.className = "";
					p_currentdiv = -1;
				}
			}

			function t_visify() {
				if(t_unsaid.length === 0) {
					clearInterval(t_interval);
					return;
				}
				let chr = t_unsaid.charAt(0);
				if(chr === "<") {
					let ndx = t_unsaid.indexOf(">")+1;
					if(ndx > 0 && ndx < 7) {
						chr = t_unsaid.substr(0,ndx);
						t_inner.innerHTML += chr;
						t_unsaid = t_unsaid.slice(ndx);
						t_updateshadow();
						return;
					}
				}
				t_inner.innerHTML += chr;
				t_unsaid = t_unsaid.slice(1);
				t_updateshadow();
			}

			function t_updateshadow() {
				t_shadow.style.width = (t_inner.clientWidth+3)+"px";
				t_shadow.style.height = (t_inner.clientHeight+3)+"px";
				t_shadow.style.marginTop = ((t_inner.clientHeight+3)*-1)+"px";
			}
		</script><% } %>
		<script>
			function rainbofy(d) {
				if(d.className == "disco")
					d.className = "";
				else
					d.className = "disco";
			}

			var dots = document.getElementsByClassName("dot");
			function sineifydot() {
				if(dt) return;
				requestAnimationFrame(calcsine);
				dots[0].style.width = "4px";
				dots[0].style.height = "4px";
				dots[1].style.width = "4px";
				dots[1].style.height = "4px";
				dots[2].style.width = "4px";
				dots[2].style.height = "4px";
				document.getElementById("dotlink").style.left = "-17px";
			}
			var dt = null;
			function calcsine(timestamp) {
				if(!dt) dt = timestamp;
				let dtt = (timestamp - dt)*.02;

				dots[0].style.top = ((Math.sin(dtt*.0543589+1.39484)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[0].style.left = ((Math.sin(dtt*.033898+0.93859384)*35+45)*Math.min(dtt*.005,1)) + "vw";
				dots[1].style.top = ((Math.sin(dtt*.0448357+3.19348)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[1].style.left = ((Math.sin(dtt*.069859+2.432958)*35+45)*Math.min(dtt*.005,1)) + "vw";
				dots[2].style.top = ((Math.sin(dtt*.024857+0.39489)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[2].style.left = ((Math.sin(dtt*.0434895+1.3948)*35+45)*Math.min(dtt*.005,1)) + "vw";

				requestAnimationFrame(calcsine)
			}
		</script>
<%- include('../partials/footer') %>