<%- include('../partials/header',{title:"music",css:false}) %>
<%
function randomnum() {
	return Math.floor(Math.random()*10);
}
%>
		<style>
			.size {
				text-align: right;
			}
			td.icon {
				padding: 1px;
			}
			td {
				padding: 1px 8px;
			}
			address {
				margin-bottom: 50px;
			}
			.playing {
				color: #EE0000;
			}
			.disco {
				animation: anim 2s linear infinite;
			}
			@keyframes anim{
				0%  { color: #FF0000; }
				17% { color: #FFFF00; }
				33% { color: #00FF00; }
				50% { color: #00FFFF; }
				67% { color: #0000FF; }
				83% { color: #FF00FF; }
				100%{ color: #FF0000; }
			}
			.dot {
				width: 2px;
				height: 2px;
				background-color: #3664ee;
				border-radius: 100%;
				margin-left: 2px;
				display: inline-block;
				position: relative;
				transition: width 2s, height 2s;
			}
			#dotlink {
				display: inline;
				left: -11px;
				position: relative;
				transition: left 2s;
			}
			.rainbow {
				background-image: url("<%= assets %>/inception/glitch.png");
				height: 15px;
				position: relative;
				top: 3px;
				display: inline-block;
			}
			#player {
				width: calc(100% - 18px);
				position: fixed;
				bottom: 5px;
				left: 5px;
			}
		</style>
		<link rel="StyleSheet" type="text/css" href="<%= assets %>/player/player.css?v=2">
	</head>
	<body>
		<h1>Index of <%= properties.dir %></h1>
		<table>
			<tr>
				<th></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Name</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Last modified</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Size</a></th>
				<th><a href="javascript:void(0);" onclick="rainbofy(this)">Description</a></th>
			</tr>
			<tr>
				<th colspan="5"><hr></th>
			</tr>
			<tr>
				<td class="icon"><img src="<%= assets %>/apache/back.gif" alt="[PARENTDIR]"></td>
				<td class="name"><a href="javascript:void(0);" onclick="sineifydot(this)"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div id="dotlink">&puncsp;&puncsp;&puncsp;</div></a></td>
				<td class="date"></td>
				<td class="size">-</td>
				<td class="desc"></td>
			</tr><%
			files.forEach(function(item,index,arr){%>
			<tr><%
			if(item.type === "SND"){%>
				<td class="icon"><img src="<%= assets %>/apache/sound.gif" alt="[SND]"></td>
				<td class="name"><a href="javascript:void(0);" onclick="p_playsong(this,'<%= item.mp3 %>','<%= item.flac %>')"><%= item.name %></a></td><%
			}else{%>
				<td class="icon"><img src="<%= assets %>/apache/unknown.gif" alt="[SND]"></td>
				<td class="name"><a href="<%= item.path %>"><%= item.name %></a></td><%
			}%>
				<td class="date"><%= item.date+" "+randomnum()+randomnum()+":"+randomnum()+randomnum() %></td>
				<td class="size"><%= item.size %></td>
				<td class="desc"><%= item.desc %></td>
			</tr><%});%>
			<tr>
				<th colspan="5"><hr></th>
			</tr>
		</table>
		<address>Apache/6.6.6 Server at <div class="rainbow" style="width:75px;background-position-x:141px;"></div> Port <div class="rainbow" style="width:25px;background-position-x:30px;"></div>.</address>
		<div id="player" class="player-border" style="display: none;">
			<a href="javascript:void(0);" class="player-button" id="player-play" onclick="p_play()">
				<div class="player-icon"></div>
			</a>
			<a href="javascript:void(0);" class="player-button" id="player-download" onclick="p_download()">
				<div class="player-icon"></div>
			</a>
			<div id="player-downloadmenu" class="player-border" style="display: none">
				<a id="player-flac" class="player-downloadmenuitem" onclick="p_download()" target="_blank">Download .flac</a>
				<a id="player-mp3" class="player-downloadmenuitem" onclick="p_download()" target="_blank">Download .mp3</a>
			</div>
			<div id="player-divider"></div>
			<div id="player-timecode">0:00/0:00</div>
			<div id="player-bar">
				<a href="javascript:void(0);" id="player-bardrag" onmousedown="p_seekclick(event)" onmousemove="p_seek(event)" onmouseup="p_seekrelease(event)" onmouseleave="p_seekrelease(event)" ondragstart="return false;" ondrop="return false;">
					<div id="player-barknob" style="left: 0%"></div>
				</a>
			</div>
			<div id="player-volume">
				<a href="javascript:void(0);" id="player-volumedrag" onmousedown="p_volume(event)" onmousemove="p_volume(event)" ondragstart="return false;" ondrop="return false;">
					<div id="player-volumeknob" style="left: 50%"></div>
				</a>
			</div>
		</div>
		<script>
			function rainbofy(d) {
				if(d.className == "disco")
					d.className = "";
				else
					d.className = "disco";
			}

			dots = document.getElementsByClassName("dot");
			function sineifydot() {
				if(dt) return;
				requestAnimationFrame(calcsine);
				dots[0].style.width = "4px";
				dots[0].style.height = "4px";
				dots[1].style.width = "4px";
				dots[1].style.height = "4px";
				dots[2].style.width = "4px";
				dots[2].style.height = "4px";
				document.getElementById("dotlink").style.left = "-17px";
			}
			var dt = null;
			function calcsine(timestamp) {
				if(!dt) dt = timestamp;
				let dtt = (timestamp - dt)*.02;

				dots[0].style.top = ((Math.sin(dtt*.0543589+1.39484)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[0].style.left = ((Math.sin(dtt*.033898+0.93859384)*35+45)*Math.min(dtt*.005,1)) + "vw";
				dots[1].style.top = ((Math.sin(dtt*.0448357+3.19348)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[1].style.left = ((Math.sin(dtt*.069859+2.432958)*35+45)*Math.min(dtt*.005,1)) + "vw";
				dots[2].style.top = ((Math.sin(dtt*.024857+0.39489)*35+17)*Math.min(dtt*.005,1)) + "vh";
				dots[2].style.left = ((Math.sin(dtt*.0434895+1.3948)*35+45)*Math.min(dtt*.005,1)) + "vw";

				requestAnimationFrame(calcsine)
			}
		</script>
		<script type="text/javascript" src="<%= assets %>/player/player.js?v=2"></script>
<%- include('../partials/footer') %>