<%
if(typeof ogimage === 'undefined') var ogimage = assets + "/objects/c" + (Math.floor(Math.random()*10)) + ".gif";
if(typeof description === 'undefined') var description = "unplug your mind for best experience.";
if(typeof icontype === 'undefined') var icontype = "png";
if(typeof color === 'undefined') var color = "#000000";
if(typeof card === 'undefined') var card = "summary";
%><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>

		<link rel="apple-touch-icon" href="/icons/red152.png" sizes="152x152">
		<link rel="apple-touch-icon" href="/icons/red180.png" sizes="180x180"><%
if(typeof icon === 'undefined') { %>
		<link rel="shortcut icon" href="/icons/red196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/red192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/icons/red32.png" sizes="32x32">
<% } else { %>
		<link rel="shortcut icon" href="<%= icon %>">
		<link rel="icon" type="image/<%= icontype %>" href="<%= icon %>">
<% } %>

		<meta name="theme-color" content="<%= color %>">
		<meta name="dcterms.rightsHolder" content="Ari Hanan">
		<meta property="og:site_name" content="red">
		<meta name="twitter:site" content="@unplugred">
		<meta property="og:url" content="<%= host %>/">
		<meta name="twitter:url" content="<%= host %>/">
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="<%= card %>">
		<meta property="og:title" content="<%= title %>">
		<meta name="twitter:title" content="<%= title %>">
		<meta property="og:description" content="<%= description %>">
		<meta name="twitter:description" content="<%= description %>">
		<meta name="description" content="<%= description %>">
		<meta property="og:image" content="<%= ogimage %>">
		<meta name="twitter:image" content="<%= ogimage %>">
		<link rel="alternate" type="application/rss+xml" title="unplugred rss" href="<%= global.protocol %>rss.<%= global.domain %>/" />
		<link rel="manifest" href="/manifest.webmanifest">
<% if(typeof css === 'undefined') { %>		<link rel=StyleSheet href="<%= assets %>/stylesheet.css?v=5" type="text/css" media=screen>
<% } %>
