<%- include('../../partials/header',{title:"countdown",icontype:"x-icon",icon:"/countdown/favicon.ico"}) %>
		<style>
			body{
				font-size: 33vw;
				text-align: center;
				font-weight: bold;
				background-color: #110000;
			}

			.notfinished, .notfinished * {
				cursor: none !important;
			}

			.notfinished #cursor {
				pointer-events: none;
				position: absolute;
				background-image: url("<%= assets %>/cursors/waitanim.gif");
				width: 26px;
				height: 26px;
			}

			#final-form{
				width: 100px;
				height: 100px;
				display: block;
				margin: calc(50vh - 50px) calc(50vw - 50px);
				background-image: url("<%= assets %>/countdown/1.gif");
			}

			.notfinished #final-form {
				display: none !important;
			}

			#timer {
				height: 100vh;
				margin-top: calc(50vh - 10vw);
			}

			@media screen and (orientation:landscape) {
				body{
					font-size: 20vh;
				}

				#timer {
					height: 100vh;
					margin-top: 40vh;
				}
			}

			#seizure {
				background-image: url("<%= assets %>/seizure-warning.png");
				position: fixed;
				width: 258px;
				height: 35px;
				right: 20px;
				bottom: 20px;
				z-index: 10;
			}
		</style>
	</head>
	<body class="notfinished">
		<div id="seizure"></div>
		<p id="timer">08:00:00</p>
		<a href="/countdown/countdown/countdown" id="final-form"></a>
		<div id="cursor"></a>
		<script>
			var cursor = document.getElementById("cursor");
			document.onmousemove = function(e){
				cursor.style.top  = (e.pageY - 2) + "px";
				cursor.style.left = (e.pageX - 6) + "px";
			}

			var timer = document.getElementById("timer");
			var interval = setInterval(myTimer, 500);
			var hours = 8;
			var minutes = 0;
			var seconds = 0;

			function myTimer() {
				if(--seconds < 0){
					if(--minutes < 0){
						if(--hours < 0){
							timer.style.display = "none";
							document.body.className = "null";
							clearInterval(interval);
						}
						else{
							minutes = 59;
							seconds = 119;
						}
					}
					else{
						seconds = 119;
					}
				}
				if(seconds % 2 === 0) timer.innerHTML = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 20 ? `0${(seconds * .5)}` : (seconds * .5)}`;

				document.body.style.backgroundColor = seconds % 2 === 0 ? "#110000" : "#000000";
			}
		</script>
<%- include('../../partials/footer') %>
