<%- include('../../partials/header',{title:"countdown",icontype:"x-icon",icon:"/countdown/favicon.ico"}) %>
		<style>
			.notfinished {
				font-size: 0;
				display: flex;
				background-image: url("<%= assets %>/countdown/bg2.png");
				background-position: center;
				background-repeat: no-repeat;
			}

			.notfinished, .notfinished * {
				cursor: none !important;
			}
			.notfinished #cursor {
				pointer-events: none;
				position: absolute;
				background-image: url("<%= assets %>/cursors/waitanim.gif");
				width: 26px;
				height: 26px;
			}

			#final-form{
				width: 100px;
				height: 100px;
				display: block;
				margin: calc(50vh - 50px) calc(50vw - 50px);
				background-image: url("<%= assets %>/countdown/1.gif");
			}
			.notfinished #final-form {
				display: none !important;
			}

			#seizure {
				background-image: url("<%= assets %>/seizure-warning.png");
				position: fixed;
				width: 258px;
				height: 35px;
				right: 20px;
				bottom: 20px;
				z-index: 10;
			}

			#wrapper {
				display: none;
			}
			.notfinished #wrapper {
				margin: auto;
				display: block;
			}
			.digit, .divider {
				height: 95px;
				background: url("<%= assets %>/countdown/numbers.png");
				display: inline-block;
			}
			.digit {
				width: 75px;
			}
			.divider {
				width: 29px;
				background-position-x: right;
			}
		</style>
	</head>
	<body class="notfinished">
		<div id="seizure"></div>
		<div id="wrapper">
			<div class="digit"></div>
			<div class="digit"></div>
			<div class="divider"></div>
			<div class="digit"></div>
			<div class="digit"></div>
			<div class="divider"></div>
			<div class="digit"></div>
			<div class="digit"></div>
		</div>
		<a href="/countdown/countdown/countdown" id="final-form"></a>
		<div id="cursor"></a>
		<script>
			var cursor = document.getElementById("cursor");
			document.onmousemove = function(e){
				cursor.style.top  = (e.pageY - 2) + "px";
				cursor.style.left = (e.pageX - 6) + "px";
			}

			var digits = document.getElementsByClassName("digit");
			var interval = setInterval(myTimer, 500);
			var hours = 8;
			var minutes = 0;
			var seconds = 2;

			function myTimer() {
				if(--seconds < 0){
					if(--minutes < 0){
						if(--hours < 0){
							document.body.className = "null";
							clearInterval(interval);
						}
						else{
							minutes = 59;
							seconds = 119;
						}
					}
					else{ seconds = 119; }
				}
				setDigit(0,hours*.1);
				setDigit(1,hours%10);
				setDigit(2,minutes*.1);
				setDigit(3,minutes%10);
				setDigit(4,seconds*.05);
				setDigit(5,(seconds*.5)%10);

				document.body.style.backgroundColor = seconds % 2 === 1 ? "#110000" : "#000000";
			}
			function setDigit(digitid, num) {
				digits[digitid].style.backgroundPositionX = ((Math.floor(num)*75)/7.04) + "%";
			}
			myTimer();
		</script>
<%- include('../../partials/footer') %>
